[2016-08-11 06:53] neroniaky opened #1 "Update to Angular2 RC5"
Dependencies should be updated to Angular2 RC5.

[2016-08-11 18:46] #1 closed

[2016-08-20 14:47] implicitdef opened #3 "Local storage not set after sign in"
After a successful call to `_tokenService.signIn`, the local storage is left untouched, so the following calls to `get`/`post`/etc. never send the authentication headers.

It seems the `signIn` method is just missing a call to `_setAuthData`.

[2016-08-20 16:31] neroniaky commented on #3
@implicitdef did you add `:expose  => ['access-token', 'expiry', 'token-type', 'uid', 'client']` to your CORS configuration? Otherwise Rails doesn't add the `Access-Control-Expose-Headers` to the sign-in response in which case the service can't access the headers and doesn't set the local storage.
Thanks for your feedback!

[2016-08-20 19:07] implicitdef commented on #3
Right, I missed that, thanks.

[2016-08-20 19:07] #3 closed

[2016-08-22 20:10] DudeFactory opened #4 "How initialize for use Bearer token?"
How initialize for use Bearer token?
I don't understand how use it.

[2016-08-23 06:53] neroniaky commented on #4
@DudeFactory if you use `Angular2-Token` with the `devise token auth` gem, bearer token authentication is enabled by default. So just follow the guide to install `devise token auth` [here](https://github.com/lynndylanhurley/devise_token_auth#installation) and then install `Angular2-Token` an described in the readme.

Hope I got your question right and thank you for your feedback!

[2016-08-25 12:21] raymondmuller opened #5 "Property 'queryParams' does not exist on type 'RouterState'."
Getting this error: (Angular2 RC5)
[code]

[2016-08-25 12:32] neroniaky commented on #5
@raymondmuller Usually this error comes up when you don't have any routes defined. Could that be the case?
`Angular2-Token` tries to read from the router to check if a token is passed via the url params. Gonna try to publish a fix today. Otherwise you can just add empty routing to your main module, which should fix it.

[2016-08-25 12:37] raymondmuller commented on #5
@neroniaky Thanks for the quick response. I do have routes defined, which I import in app.module.ts. I've used the following boilerplate (Angular2-webpack-starter from AngularClass)
My app module looks similar to this (https://github.com/AngularClass/angular2-webpack-starter/blob/master/src/app/app.module.ts).

[2016-08-25 12:48] neroniaky commented on #5
@raymondmuller maybe this has something to do with their experimental HMR. Not sure, need to look into it. Should be a small fix anyways, gonna try to upload it as soon as possible.
You can take a look [here](https://github.com/neroniaky/angular2-token-example) for a working example.

[2016-08-25 13:21] raymondmuller commented on #5
@neroniaky Thanks, appreciate it :)

[2016-08-25 14:25] neroniaky commented on #5
@raymondmuller `angular2-webpack-starter` recently changed the `@angular/router` package from the official "3.0.0-rc.1" to a custom build. I just publish version 0.1.3, which should fix the problem. Could you give it a try?

[2016-08-25 14:30] raymondmuller commented on #5
@neroniaky Seems to work fine. Thanks for the quick fix!

[2016-08-25 14:30] #5 closed

[2016-08-26 10:28] bastienlemaitre opened #6 "Angular CLI Implementation."
Hi !
I want to use your component but I use Angular-Cli.

My Code:
system-config.ts
`const map: any = {
  '@angular2-material': 'vendor/@angular2-material',
  'angular2-token': 'vendor/angular2-token'
};

/** User packages configuration. */
const packages: any = {};

// put the names of any of your Material components here
const materialPkgs:string[] = [
  'button',
  'card',
  'core',
  'checkbox

[2016-08-26 10:52] neroniaky commented on #6
Hi @bastienlemaitre, I didn't test it with Angular-Cli yet. Gonna need some time to look into it.

[2016-08-29 16:33] neroniaky commented on #4
Im closing this issue because no response in 7 days. If you have any further questions please send them via Gitter.

[2016-08-29 16:33] #4 closed

[2016-08-30 12:10] neroniaky commented on #6
I took some time to look into angular-cli. They are currently in the process of switching from Broccoli (which you seem to be using) to webpack. Angular2-Token requires Angular2 RC.5, which only the webpack version of angular-cli supports. Instructions for upgrading can be found [here](https://github.com/angular/angular-cli/blob/master/WEBPACK_UPDATE.md).
If you use the webpack version the install

[2016-09-06 09:10] neroniaky commented on #6
Closing because no response in 7 days.

[2016-09-06 09:10] #6 closed

[2016-09-08 11:56] malina opened #7 "Use with canActivate"
Hi!

I have question.
I use angular2-token.

I try implements canActivate with angular2-token but have problem.
On first page load (or if click reload button in browser) currentUserData is undefined.

What could be the problem?

[code]

[2016-09-08 13:54] neroniaky commented on #7
Hi @malina, thanks for your feedback.
I haven't tried it with CanActivate yet. CanActivate probably triggers before the .init() call, so current user isn't set. Gonna need some time to look into it.

[2016-09-08 20:18] neroniaky commented on #7
I added Route Guard support, so you can use Angular2-Token directly. You can find an example [here](https://github.com/neroniaky/angular2-token#route-guards).

I also added an showcase / example to the angular2-token-example repository [here](https://github.com/neroniaky/angular2-token-example).

In general you have to call `.init()` at the same or at a higher level component where you first use t

[2016-09-09 02:27] malina commented on #7
Thank you for answer.
But if open https://angular2-token.herokuapp.com/#/restricted
I see white page, that is the router is not activated.

[2016-09-09 07:32] neroniaky commented on #7
The behavior should be:
User logged in --> text on page
User **not** logged in --> no text on page (the link button on the main page does not work either)

[2016-09-12 06:53] neroniaky opened #16 "Missing Tests"
Not all Angular2-Token methods are covered by tests. This Issue is used to track the progress:

**Http-Wapper**
- [ ]  .options()
- [ ]  .head()
- [ ]  .sendHttpRequest()

**Service Methods**
- [ ]  .signIn() for multi user
- [ ]  .signOut() for multi user
- [ ]  .registerAccount() for multi user
- [ ]  .deleteAccount() for multi user
- [ ]  .validateToken() for multi user
- [ ]  .updatePassword()

[2016-09-15 11:54] aufdenpunkt opened #21 "Is it possible to set a global header like "api-token"?"
Thanks and best,
Chris

[2016-09-15 13:28] neroniaky commented on #21
@aufdenpunkt there is no method to set the headers/header names directly. If you would tell me why this needed we could implement it.

[2016-09-15 14:32] aufdenpunkt commented on #21
@neroniaky Thanks for your quick response! So the case would be, that only authorized frontends are allowed to make requests to the API in general.

[2016-09-16 06:57] neroniaky commented on #7
Closed because no response in 7 Days. If you have an further question please use the gitter chat. Thank you!

[2016-09-16 06:57] #7 closed

[2016-09-18 21:28] ezilocchi opened #23 "Getting `404 GET /angular2-token` after running `npm start`"
After I followed all the steps in the README.md file I was still getting `404 GET /angular2-token` right after I run `npm start`. Since I'm using `system.js` config instead of `webpack` (as the example in github) I added these lines on my `systemjs.config.js` file.
[code]
and It passed, but I got this issue
[code]
So I found that inside `node_modules/angular2-token/angular2-token.js` there was thi

[2016-09-19 05:23] neroniaky commented on #23
Hey @ezilocchi thanks a lot for this **very** detailed issue.
You're right this line shouldn't be there yet. It's for something I'm working on, which isn't ready. Looks like it made its way in the NPM Package somehow. Should be an easy fix, but I need to make sure that this doesn't happen again.

[2016-09-19 12:41] ezilocchi commented on #23
@neroniaky please let me know if I can help you.

[2016-09-19 15:16] neroniaky commented on #23
I just publish NPM Package Version 0.1.10. This should fix it. Could you give it a try?

[2016-09-19 16:40] ezilocchi commented on #23
Yes, it worked. Thanks!

[2016-09-19 18:01] #23 closed

[2016-09-19 19:01] ezilocchi commented on #23
I'm sorry it seems that this is not working yet. the `lib` folder disappears from the `node_modules/angular2-token` :(.

[2016-09-20 12:45] artem-galas opened #24 "RouteGuard"
Hi,

is there a possibility to do a redirect to `sign-in` before a user hasn't signed in?
And also to forbid a user to get to `sign-in/sign-up` pages, if he has already logged in?

[2016-09-20 14:00] artem-galas opened #25 "Send query to subdomain"
Hi!
Do we have a possibility to send a query with `_tokenService` to subdomain?

[2016-09-20 14:19] neroniaky commented on #25
Hey @artem-galas, gonna take a look into it. Did not test this case yet.

[2016-09-20 14:23] artem-galas commented on #25
@neroniaky Thanks :)

[2016-09-20 15:06] artem-galas commented on #25
As the subdomain for the client and the API is the same, I made this trick on AppComponent:

[code]

[2016-09-20 18:26] neroniaky commented on #25
I just uploaded v0.1.12. With this you should have two options to access a subdomain.

1. Don't specify `apiPath` and enter the full domain name for the HTTP Wrapper methods like `.get('http://mysubdomain.domain.come/my-resource')`
2. Use `.sendHttpRequest()` which gives you full control over what should be send. Details [here](https://github.com/neroniaky/angular2-token#sendhttprequest).

Would b

[2016-09-21 10:59] artem-galas commented on #24
I have decided to issue this way:

[code]

[2016-09-21 11:23] vreen commented on #24
Can you give some explanations how you put this into you app (which files)?

[2016-09-21 11:47] artem-galas commented on #24
I create authGuard/authGuard.ts file in shared directory, I use [Angular2Seed](https://github.com/mgechev/angular2-seed).
Then I add this line on Route file `canActivate: [AuthGuard]`.

Route File example:

[code]

[2016-09-22 13:17] artem-galas opened #28 "Submit form.value to signIn method"
For example, we use the form as `FormGroup` for SignIn. Then we have incorrect data gets to BackEnd.
For example we have SignIn form, it contains the next object -

[code]

And when sending to RailsApp, we get such parameters -

[code]

I think should overwrite signIn/signUp methods such way, so that they can pass `form.value` method.
What do you think about it?

Example signIn.component.ts (code

[2016-09-22 13:20] razvanmitre opened #29 "Pasword reset bug"
There is a bug here:
https://github.com/neroniaky/angular2-token/blob/master/src/angular2-token.service.ts#L333
First of all, when a password reset redirect url comes from the API, it sends the new headers in the URL, so queryParams should be used here.

Also, queryParams is an Observable, so here params would be undefined.

[2016-09-22 13:57] razvanmitre commented on #29
I have tried to fix the issue here.
https://github.com/neroniaky/angular2-token/pull/30

[2016-09-24 08:14] neroniaky commented on #24
Angular2Token implements the `CanActivate` Interface so you can use it like: `canActivate: [Angular2Token]`. But as far as I understand you want an automatic redirection, which would be an good thing to add to the service.
To forbid a user to navigate to the `sign-in/up` page while he is logged in, you need the `CanDeactivate` interface which can not be implemented into the service. I think for th

[2016-09-25 17:22] gbrl opened #32 "Does this package support github oauth?"
I don't see anything in the docs about oauth, but I do see some configuration for OAuth with Github in the file angular2-token.service.ts:125
:D
Is OAuth support a work in progress?

[2016-09-26 04:03] neroniaky commented on #32
@gbrl exactly 😉. I had some problems with Angular2 RC6, didn't get around to try it with final yet.

[2016-09-26 08:57] #29 closed

[2016-09-26 20:18] akz92 opened #33 "Fail on 'npm run build'"
I'm trying to run the tests but I can't successfully install the npm packages.  It fails when running `npm run build`. I only downloaded the repository and tried to install the packages. Am I missing something?

[2016-09-26 20:28] akz92 commented on #33
I cloned the repository again and everything worked fine, sorry.

[2016-09-26 20:28] #33 closed

[2016-09-27 17:05] gbrl commented on #32
OK!

[2016-09-27 17:05] #32 closed

[2016-09-27 19:10] gbrl opened #34 "How to access current user ID from a Service?"
I have two models, User and Profile, and I want my Profile Service to be able to call the API using the current logged-in users' ID. I can't figure out how to do this. Any advice is appreciated. Here is my service:

    import { Injectable } from '@angular/core';
    import { Http, Headers, RequestOptions } from '@angular/http';

    @Injectable()
    export class ProfileService {

      construct

[2016-09-28 02:58] neroniaky commented on #34
Hey @gbrl!
If you are accessing private resources (something only your user should have access to) you are usually not letting the front end set the user ID. Thats why devise token auth gives you the `current_user` variable which refers the currently signed in user.
So what you do is call `api/user/profile.json` with your angular service and let your backend return the right profile.

Hope this he

[2016-09-28 05:02] gbrl commented on #34
Ah! That makes so much sense. I will try it out.

[2016-09-28 05:06] gbrl opened #35 "The session param is blocked, devise config doesn't solve it. ("Unpermitted parameter: session")"
I added :session to the permissable params, but it doesn't seem to have any effect. I still get a "Unpermitted parameter: session" message:

[code]

My controller:

[code]

[2016-09-28 17:16] ezilocchi opened #36 "About some lack of flexibility (Http Headers and Server Urls)"
So after I implemented angular2-token in my project I came up with something like this as architecture:

[code]

[code]

I realized that  `Angular2TokenService` is not only responsible for interacting with the backend in term of authentication concerns, it is also responsable to perform any authenticated HTTP requests (GET, POST, PUT, DELETE) to any endpoint after that. The way it gets this done i

[2016-09-28 17:17] ezilocchi commented on #21
I have gone through the same problem. I create this https://github.com/neroniaky/angular2-token/issues/36

[2016-09-30 20:53] aufdenpunkt commented on #21
Hi @neroniaky,

are there any news about this topic?

Thanks and best,
Chris

[2016-10-01 00:46] osazemeu opened #37 "angular2-token not working with latest version of angular-cli"
node v4.5.0
npm 3.10.8
[code]

[2016-10-01 02:49] #34 closed

[2016-10-01 02:53] neroniaky commented on #37
Hey, thanks for opening this issue. Seems like a problem with the angular version in use. Angular2-Token requires at least Angular2 Release (2.0.0). Which version do you use?

[2016-10-01 02:57] neroniaky commented on #25
Closing because no answer in 7 days. If you have further questions/remarks you can use the Gitter Chat.

[2016-10-01 02:57] #25 closed

[2016-10-01 08:36] osazemeu commented on #37
Thanks for your response:
I am using angular2 final release from this version of angular-cli  1.0.0-beta.16. When i check the version using `ng version`

Other details
[code]

[2016-10-01 09:29] osazemeu commented on #37
I did a clean install, I get this message
[code]

[2016-10-01 10:24] neroniaky commented on #37
I've to try it on my machine. Gonna get back to you as soon as I can.

[2016-10-01 15:12] neroniaky commented on #21
Hey @aufdenpunkt, I recently implement the` sendHttpRequest()`-method, which accepts Angular2 `RequestOptions`. It takes the supplied `RequestOptions` and merges them with the authentication headers ('access-token' etc.). This should give you the option to specify additional headers.
Please let me know if this works for you, or if I got your use case wrong 😃 . Thanks!

[2016-10-03 08:21] neroniaky commented on #37
I'm on travel right now, so I probably won't be able to try it before Thursday.

[2016-10-03 20:46] aufdenpunkt commented on #21
Thanks for your quick reply. So this solution is confusing me a little bit. If I'm getting you right, then I have to extend the BaseRequestOptions, right?

Something like this:

`import { Injectable } from '@angular/core'
import { Headers, BaseRequestOptions } from '@angular/http'

@Injectable()
export class ExtendedRequestOptions extends BaseRequestOptions {
    headers: Headers = new Headers({

[2016-10-04 04:44] neroniaky commented on #21
I'm answering this from my phone (beware of typos :smile: ) so I can't try it myself right now, but what you should be able to do:

Define your new Header:
[code]

Use this Header in your RequestOptions:
[code]

Then use the RequestOptions with sendHttpRequest:
[code]

This is exactly what the Angular2-Token does too, when you use `.get()` etc.

Hope this helps! :smile:

[2016-10-04 12:08] aufdenpunkt commented on #21
Ah okay, thanks. I got it … This would mean, that I have to write my own GET, POST, PUT, etc. methods right? Sounds a little bit uncomfortable to me.

Why not something like this? 😄
[code]

[2016-10-04 12:15] artem-galas commented on #24
Thanks for the PR but the problem with the first load still persists.
I’ve taken a video so it is clear to you what I mean.
[Video](https://drive.google.com/file/d/0B71RQvKMBUrDazRIZGRIMzQ1aFE/view)

As you can see I am logged in as admin user and upon page refresh I get the signup form, although I was on the Settings page before. I think it’s better to use isLoggedIn method that I described above

[2016-10-06 14:02] neroniaky commented on #21
I have not seen the need for this yet, but makes sense. Will try to implement something similar today or tomorrow.

[2016-10-07 01:15] jasonswett commented on #37
Hmm, FWIW I'm using Angular CLI 1.0.0-beta.16 and Angular2-Token seems to be working fine for the most part.

[2016-10-07 01:18] jasonswett opened #39 "currentUser doesn't seem to work"
When I try to use `_tokenService.currentUser`, I get:

`Property 'currentUser' does not exist on type 'Angular2TokenService'.`

Any ideas?

[2016-10-07 01:25] osazemeu commented on #37
I think it has to do with npm and sometimes, the corresponding version. check this [link](https://github.com/angular/angular-cli/issues/1737). I had to just copy and paste angular2-token to node_modules manually to get it to work on my windows. It worked effortlessly on a linux though.

[2016-10-07 07:09] neroniaky commented on #37
Anything I can do to fix this? Don't have easy access to a windows machine with npm.

[2016-10-07 07:42] #39 closed

[2016-10-07 07:43] neroniaky commented on #39
Hey @jasonswett, thanks for your issue. The README was wrong, please use `.currentUserType`.

[2016-10-07 09:27] osazemeu commented on #37
@neroniaky I think your package is okay. It should be npm troubles.

[2016-10-07 09:27] #37 closed

[2016-10-07 09:30] neroniaky commented on #21
Hey just published version 0.1.15. This gives you the option to define custom global headers like you suggested. Be carful when overwriting the default options, because devise token auth will refuse requests without 'Content-Type' set.

[2016-10-07 15:36] aufdenpunkt commented on #21
Hey, awesome! Many thanks for this! 👍

[2016-10-07 15:56] #21 closed

[2016-10-07 16:53] jasonswett opened #40 "Persisting user sessions"
I'm writing a somewhat in-depth tutorial on Angular2-Token with devise_token_auth for my book Angular for Rails Developers.

I'm kind of stuck on a certain step. After I use Angular2-Token to sign in, if I refresh the page, `_tokenService.currentUserData` is no longer present.

How do I get the user to stay logged in?

[2016-10-07 16:55] jasonswett commented on #39
Thanks, although `currentUserType` seems to be null. Using `currentUserData` seems to work.

[2016-10-07 16:56] jasonswett commented on #6
I'm using Angular CLI 1.0.0-beta.16 and Angular2-Token seems to work fine.

[2016-10-07 17:15] jasonswett commented on #40
Okay, I've found that if I do this

[code]

then the first `console.log` shows `undefined` and the second one shows my user as I would expect.

It doesn't seem like I should have to do this manually, no?

[2016-10-07 18:38] neroniaky commented on #40
Hey @jasonswett, the service staves only certain information in the local storage, which persists during page reload:
- `AuthData` (e.g. Access-Token) to set the headers for the next request
- `UserType` (e.g. ADMIN) to know where to send those information to
The first thing that the service does after a reload (if AuthData are found in the local storage) is to call `.validateToken()`, which on on

[2016-10-07 19:00] neroniaky commented on #24
Hey @artem-galas, thanks for your explanation. I think the problem is that the CanActivate uses `currentUserData`, which gets set after the `.validateToken()` request has been answered by the backend. This seems to be to late for CanActivate.
Makes more sense to use `currentAuthData` like you suggested, because it gets read from local storage and is available right away.

[2016-10-07 19:21] #24 closed

[2016-10-08 12:03] jasonswett commented on #24
@artem-galas's code doesn't work for me. The TypeScript compiler doesn't like it when I try to access private property `this._tokenService._currentAuthData`.

Also, I don't think I can depend on the token already having been validated at the time the code is first run. Therefore I'm using `this._tokenService.validateToken()`.

The following code _almost_ works.

[code]

It works fine when the user

[2016-10-08 12:27] neroniaky commented on #24
@jasonswett you have two options to solve this:
- use Angular2Token as Route Guard directly, like:
[code]
- use the `userSignedIn(): boolean`- method (not published via NPM-Package yet).

[2016-10-08 12:42] jasonswett commented on #24
@neroniaky Yeah, unfortunately I couldn't get the latest Angular2-Token code to work on my machine. I want a redirect, anyway.

The following code does work in both the authenticated and unauthenticated cases, although I have a hunch it's not 100% "correct".

[code]

[2016-10-08 13:13] neroniaky commented on #24
@jasonswett I just published version 0.1.16 via NPM which includes the latest changes.

[2016-10-12 07:08] neroniaky commented on #40
Gonna close this issue for now. If you have any other questions/remarks you can use the gitter chat.

[2016-10-12 07:08] #40 closed

[2016-10-12 10:07] neroniaky commented on #35
I think this is related to #28.

[2016-10-13 09:35] neroniaky commented on #28
Hey @artem-galas, I finally got around to take a deeper look at this behavior.

`this.signInForm.value` seems to return a hash, so the `.signIn()` etc. need to be modified to accepts a hash like

[code]
instead of

[code]

I'm not 100% sure how to modify this without breaking every existing implementation, because (as far as I know) there is no method overloading in Typescript.

Anyways, the behav

[2016-10-22 03:54] rafaelss95 commented on #28
Any news on this? I'm facing the same problem.

[2016-10-22 09:46] neroniaky commented on #28
@rafaelss95 did a little research on this, but couldn't find a solution yet. Seems to be a problem with rails and angular2. Would be nice if someone could confirm this.
For me this doesn't cause any problems in normal use, but something that needs to be solved anyways.

[2016-10-23 03:32] rafaelss95 commented on #28
@neroniaky, well, as a suggestion I think would be better if we could pass the whole object to the functions. And about a possible problem with rails and Angular2, I have a lot of services implemented and I don't got any kind of error.

[2016-10-24 18:09] alikhan-io opened #52 "OAuth via Github external window does not close"
When using the OAuth button both in my local app as well as the demo site on angular2-token.herokuapp.com once you get to the callback, the second tab does not close nor is anything seemingly sent back to the original window. Was there some recent change that broke this functionality?

[2016-10-24 18:18] neroniaky commented on #28
@rafaelss95 Thank you for your input. I'm working on version 0.2.0 which is supposed to support passing the entire object. Hope to publish it soon.

[2016-10-24 18:24] neroniaky commented on #52
@alikhan-io thanks for opening this issue. I opened a issue myself at devise token auth [Link](https://github.com/lynndylanhurley/devise_token_auth/issues/749) because I can't get it to work. Didn't get answer yet. The other Demo for AngularJS and JQuery seem to be broken too.

[2016-11-03 15:08] YuriGitHub opened #55 "Callback after token validate error"
Hi guys. Can you create callback path after token validate error.
For example: User was deleted by admin and i have just error 401 (Unauthorized)

[2016-11-03 15:10] neroniaky commented on #55
@YuriGitHub thanks for your suggestion. Gonna take a look into it.

[2016-11-08 02:17] rafaelss95 commented on #28
Hello, @neroniaky, any news on this?

[2016-11-08 09:33] neroniaky commented on #28
Hey @rafaelss95, I had quite a lot to do in the last weeks. Version 0.2.0 is almost done. I hope to publish a beta this week.

[2016-11-11 15:35] kamrantgp opened #56 "http://localhost:3001/angular2-token 404 Not Found"

[2016-11-11 15:41] kamrantgp opened #57 "http://localhost:3001/angular2-token 404 Not Found"
Hi,

I installed angular2-token based as the installation guide, somehow I get this error on the console.

I can see that the package is installed under node_modules.

I would very much appreciate any help or guidance you are able to give me.

FIXED: by adding
      'angular2-token' :'npm:angular2-token/src/angular2-token.service.js',
to "systemjs.config.js"

[2016-11-11 16:45] kamrantgp commented on #28
@neroniaky hey how is it going with the fix?

@rafaelss95 Could you provide more details on ur hack?

[2016-11-11 18:53] neroniaky commented on #56
Duplicate.

[2016-11-11 18:53] #56 closed

[2016-11-11 18:54] neroniaky commented on #57
@kamrantgp so the issue can be closed?

[2016-11-13 19:22] neroniaky commented on #28
@kamrantgp @rafaelss95 I just published v0.2.0-beta.1. Would be good if you could give it try 👍

[2016-11-15 11:52] cybey commented on #55
When my validate call fails and receive a "Unauthorized" message, the service still indicates that the user is logged in.

Going to assume that the issue I'm having with that is related to this one.

[2016-11-15 12:26] alexdzh opened #58 "angular2-token beta 0.2.0 error"
After 0.2.0 version installation error message
a2t-ui.forms.ts:8 Uncaught TypeError: __WEBPACK_IMPORTED_MODULE_1____.f is not a constructor(…)
is appear.

[2016-11-16 05:32] percipio commented on #58
Also getting this error.

[2016-11-16 13:02] neroniaky commented on #58
@alexdzh @percipio thanks for your issue report. Could you give me some information about your setup, because I haven not seen this error yet?

[2016-11-16 14:57] alexdzh commented on #58
node v6.7.0
npm v3.10.3
angular-cli 1.0.0-beta.19-3
@angular/--- 2.1.2
@angular/router 3.1.2

Steps:
ng new project
      app works!

npm install angular2-token

Added to app.module.ts:
import { Angular2TokenService } from 'angular2-token';
providers: [Angular2TokenService],

Added to app.component.ts
constructor(private _tokenService: Angular2TokenService) {
    this._tokenService.init();
  }

RE

[2016-11-16 15:23] neroniaky commented on #58
@alexdzh I see you're using angular-cli. Had some problems with this before. Need to check what it's complaining about. You could downgrade to version 0.1.17, which should work with angular-cli.

[2016-11-17 06:42] alexdzh commented on #58
I started from "After 0.2.0 version installation".
0.1.17 works good.
angular-cli more convenient for the time save reason.
I hope you will fix this bug

[2016-11-17 09:24] artem-galas opened #59 "Is there an ability to set currentUserData?"
For example, I have this code snippet:
[code]

Or for example, I am using `_tokenService.currentUserData?.username` in header and I can update the current user username, but the value in header won't change.

How can I update `currentUserData`?

Thanks for your advance :)

[2016-11-17 20:32] #57 closed

[2016-11-18 05:52] pragun16 opened #62 "a2t-ui.forms.ts:14 says Uncaught TypeError: __WEBPACK_IMPORTED_MODULE_1____.f is not a constructor"
I've followed the installation procedures from the documentation. However, right after I import Angular2TokenService into my main module, i have the aforementioned error in my browser console (both chrome and firefox). This stops the angular2 application from loading. What could be its reason?

[2016-11-18 06:27] neroniaky commented on #62
This seems to be the same issue as #58. You can use v0.1.17 until fixed.

[2016-11-18 09:24] gtaylor44 opened #63 "Refresh token"
Any planned support for refresh token management?

[2016-11-18 10:03] #58 closed

[2016-11-18 10:03] #62 closed

[2016-11-18 10:05] neroniaky commented on #58
It should work now. Be sure to insert some kind of routing, like:

[code]

[2016-11-18 10:12] neroniaky commented on #63
The library refreshes the token on every request. Things like batch requests and token lifespan can be configured via the devise token auth rails config.
Whats missing exactly? Thanks!

[2016-11-18 10:25] neroniaky commented on #59
@artem-galas thanks a lot for your issue and the PR. Please help me to understand your use case a little more.
`currentUserData` is send and maintained by the backend/devise token auth. You could modify it in the browser, but the next time you load it from the backend it would be the old value.

[2016-11-18 10:35] neroniaky commented on #55
@YuriGitHub @cybey right now only `.signOut()` reset all data and deletes the local storage. If you want it to work as you described you have to call `.signOut()` yourself on a failed validate. This is probably something that should be implemented (and an option to turn it off). PR anyone? 😃

[2016-11-18 10:45] artem-galas commented on #59
For example we have a header which uses a username of a user. The user can change it and once he changed, we should display a new username in the header.

Other use case I am trying to implement now is the next one: it's `accept invitation`.
Once a user follows the link from the email, he'll be directed to the page where he should type his password and password_confirmation.
Then he should be auth

[2016-11-18 11:30] cybey commented on #55
See #64

[2016-11-18 13:17] #55 closed

[2016-11-20 11:48] gtaylor44 commented on #63
Great work, thanks.

[2016-11-20 11:48] #63 closed

[2016-11-21 11:06] alexdzh opened #65 "FormService is not provided ?"
I tried quckstart and received this error:
metadata_resolver.js:499Uncaught Error: Can't resolve all parameters for A2tFormComponent: (?).
    at CompileMetadataResolver.getDependenciesMetadata (http://localhost:4200/main.bundle.js:24402:19)
    at CompileMetadataResolver.getTypeMetadata (http://localhost:4200/main.bundle.js:24303:26)
    at CompileMetadataResolver.getDirectiveMetadata (http://loc

[2016-11-21 14:48] neroniaky commented on #65
@alexdzh thanks for your report. I guess you are using angular-cli again. Gonna give it a try later and see if I can reproduce this error.

[2016-11-21 15:37] adonespitogo commented on #65
I'm getting the same error with angular-cli

[2016-11-21 15:55] neroniaky commented on #65
Found the issue. Angular-cli does not like my the order of my imports. Currently working on a problem with the routing.

[2016-11-21 16:20] adonespitogo commented on #65
@neroniaky Cool :+1:

[2016-11-22 08:28] adonespitogo commented on #65
@neroniaky anything we can help?

[2016-11-22 08:30] neroniaky commented on #65
@adonespitogo I gonna commit my changes to the imports. Didn't have to get the routing to work yet. Maybe you can give it a try too. Should be a quick fix.

[2016-11-22 15:32] pmurpmur opened #66 "Token invalidates in Safari and iOS"
I have been developing my own implementation of an Angular2 application that works with devise token auth for Rails. Recently I have come across a bug where my token invalidates when I am using either Safari or an iOS web view. I wanted to see if this problem persists in this project and it does. To replicate simply open the demo (https://angular2-token.herokuapp.com) in Safari, login, and keep re

[2016-11-23 15:38] sihu opened #68 "Get request with options"
The current implementation of a get request is like that:
[code]

The implementation of the `@angular/http` class is, that you can also pass parameters and things with the get request:

[code]

This could be used, if you want to add parameters as an object like this:

[code]

I would suggest to extend the get request with an optional `options`-parameter, since this class could be a simple wrapper

[2016-11-23 15:40] sihu commented on #68
i just saw this is a duplication of #36. i fully support the input of @ezilocchi

[2016-11-23 16:06] neroniaky commented on #68
Hey @sihu, thanks for your Input. Angular2-Token works quite similar to `@angular/http`, but maybe not similar enough.

Both wrap a general http-method with the more the simple calls like `.get()`. So if you need to add optional parameters you can use `.sendHttpRequest()` directly. [Link](https://github.com/neroniaky/angular2-token#sendhttprequest)

But you bring up a good point, that the Angular2

[2016-11-23 16:16] sihu commented on #68
hey @neroniaky thanks for the fast answer and suggestions. i will not find time in the next days but i  hope i can contribute soon something to the project soon! i will bring in first some architectural ideas to https://github.com/neroniaky/angular2-token/issues/36

[2016-11-23 19:00] micdahl opened #69 "Error when compiling with rootDir option"
When compiling with rootDir option, the module does not compile.
Error message is:
`error TS6059: File '/tsc/node_modules/angular2-token/src/a2t-ui/a2t-reset-password/a2t-reset-password.component.ts' is not under 'rootDir' '/tsc/script'. 'rootDir' is expected to contain all source files.`

My package.json:
[code]

After some research, I ended up here: https://github.com/valor-software/ng2-select/i

[2016-11-24 05:54] pragun16 opened #70 "Saving access-token and other credentials"
how do we save the access-token sent in a response header from a backend server so that the access token together with other credentials can be used later to consume the api? i looked into  this._tokenService.init(globalOptions:{}) but then i needed to store the token after the service is initialized. How can we do it?

[2016-11-24 07:51] neroniaky commented on #70
If you use the devise token auth gem, all the access-token/auth data handling is done by Angular2-Token. If you use custom headers you have to store/handle them yourself (e.g. in the session storage) to persist.
Hope this helps 😃 !

[2016-11-24 07:59] neroniaky commented on #69
The npm package used to have only .ts-Files. I switched it to compiled .js-Files because of angular-cli using broccoli as bundler, which couldn't handle them. I don't know if going all compiled is the right way or even possible.

[2016-11-24 08:14] pragun16 commented on #70
i'm using devise_token_auth obviously. seems like i'm understanding things a bit now. thanks anyways :)

[2016-11-24 08:47] #70 closed

[2016-11-24 09:43] #68 closed

[2016-11-24 16:10] micdahl commented on #69
Unfortunately, I am not able to contribute anything to answer this questions at the moment, as I have just started learning TypeScript and Angular2.

[2016-11-24 17:04] tiagobsbraga opened #71 "Dashboard: 30 Error: (SystemJS) Unexpected token <"
I have this [repository](https://github.com/tiagobsbraga/angular-tour-of-heroes-rails) with the Angular Tour of Heroes project. Include Rails to be the Angular web API and now I would like to add the angular2-token to test authentications. However, when I include the angular2-token in the project it does not compile.

The error message is:

How do I proceed to configure correctly?

main.ts

[code]

[2016-11-24 20:54] tiagobsbraga commented on #71
In a way, I got the project rolling.

I changed the public folder **systemjs.config.js**

[code]

**app.module.ts** from the public / app folder

[code]

**app.components.ts** from the public / app folder

[code]

I just do not know if this is the best way ...

[Complete Code](https://github.com/tiagobsbraga/angular-tour-of-heroes-rails/tree/authentication)
branch: authentication

**That's the bes

[2016-11-28 04:46] pragun16 opened #72 "Session Service: Error Fetching Response"
So I've been using this package together with devise_token_auth and when initially i try to login with unauthorized credentials, it throws this error in the console. Is there any way to suppress it or in any ways can i deal with it? I've not understood the behavior of this error.

[2016-11-28 10:21] neroniaky commented on #72
Hey, the error gets thrown if the backend responds with an error, which could be wrong credentials, as well as others (e.g. no connection). I guess the wording is a little misleading.

[2016-11-28 22:08] pjq100 opened #73 "Issue getting a2t-ui folder"
I'm having an issue configuring system.js to correctly find and include the a2t-ui module.  It isn't having any problem with the angular2-token.js file or any of the files it requires other than the a2t-ui ones.  Here's the errors I'm getting:

Navigated to http://localhost:3000/
GET http://localhost:3000/node_modules/angular2-token/src/a2t-ui/ 404 (Not Found)
Error: (SystemJS) XHR error (404 Not

[2016-11-29 00:56] fender053 commented on #65
I have the same error with Angular-cli. Any updates here?

[2016-11-29 00:58] pmurpmur commented on #66
Does anyone else at least see this issue?

[2016-11-29 04:35] pragun16 commented on #72
well that's totally fine but then i donot want that console.log to happen from the library. seems unusual. also, i get a post or get or delete request error with the request/response parameters before that console.log happens.

[2016-11-29 05:16] pragun16 opened #74 "EXCEPTION: result is undefined"
I've been getting this issue while i try to re-register a user. i.e. email id already used. I'm using devise_token_auth with angular2-token.
![angular2-token](https://cloud.githubusercontent.com/assets/16092672/20697674/2f444cd8-b623-11e6-9db8-53dafba1b631.jpg)

[2016-11-29 06:00] pragun16 commented on #74
I somehow managed to suppress the error by adding an exception handler. However, it'd be great if there were any better ways to deal with the issue. The browser's console is filled with logs generated by the angular2-token library.

[2016-11-29 06:02] #74 closed

[2016-11-29 08:16] #72 closed

[2016-11-29 08:18] neroniaky commented on #74
@pragun16 suggestions? PR are always welcome 😉 .

[2016-11-29 08:32] neroniaky commented on #66
Hi, I tried it on macOS:

- Chrome does not have any issues
- Firefox shows 304 warning (Not Modified) - which is correct
- Safari shows the behavior you described

Gonna require some additional investigation.

[2016-11-29 08:57] neroniaky commented on #52
Duplicate of  #[4](https://github.com/neroniaky/angular2-token-example/issues/4)

[2016-11-29 08:57] #52 closed

[2016-11-29 08:58] #28 closed

[2016-11-29 08:59] neroniaky commented on #35
@gbrl could you try if the problem still persists with the latest v0.2.0-beta.4?

[2016-11-29 09:12] neroniaky commented on #71
Hey @tiagobsbraga thanks for your detailed explanation.

After even angular-cli switched to webpack I did not do tests with SystemJS anymore. But seems like quite a lot of people try to make it work with the angular2 tutorial. Maybe I should add webpack as a requirement to the README until this I have the time to get this fixed.

Suggestions?

[2016-11-29 12:15] tiagobsbraga commented on #71
So... I guess that we can try, do not you think?

_I was not too keen on new things for the web, my focus today is more on developing mobile devices natively._

[2016-11-29 12:34] neroniaky commented on #65
@fender053 with v0.2.0-beta.4 you shouldn't get this exact error anymore. There is still a problem with the routing, but this on should be fixed.

[2016-11-30 09:01] saruuls commented on #35
The solution is here!
https://github.com/lynndylanhurley/devise_token_auth/issues/130

[2016-11-30 09:04] neroniaky commented on #35
Thanks @saruuls !

[2016-11-30 09:04] #35 closed

[2016-11-30 20:17] fender053 commented on #65
@neroniaky you are correct. I get the following routing error when attempting to sign in:
error_handler.js:53 Error: Uncaught (in promise): Error: Cannot match any routes: 'restricted'
    at resolvePromise (zone.js:429)
    at zone.js:406
    at ZoneDelegate.invoke (zone.js:203)
    at Object.onInvoke (ng_zone_impl.js:43)
    at ZoneDelegate.invoke (zone.js:202)
    at Zone.run (zone.js:96)
    a

[2016-12-03 15:55] nicolasduval opened #75 "'request' does not exist on type 'Angular2TokenService'."
Hi,
I'm getting the following error.

Am I doing something wrong ?

[code]

[2016-12-08 04:30] niloyc opened #79 "Module not found error"
I get a long list of errors as shown at the end. I am not exactly sure what is wrong since all the files it says it cannot find exists inside the "node_modules" folder.

All I have done is ,

`npm install`

and then add `Angular2TokenService` provider in `app.module.ts` as per the instruction page.

No other changes were made to the project.

I am using,
angular2-token: 0.2.0-beta.4
angular-cli: 1

[2016-12-08 22:42] bkosik24 commented on #79
I actually had the same issue. The workaround that I did to get it working was to go into each of the directories and change it to the relative path of both the templateUrl & stylesUrl. Ex: `templateUrl: 'a2t-form-field.component.html'` to `templateUrl: './a2t-form-field.component.html'`.. I'm thinking it has to do with webpack and how it is loading/requiring all the files but I could be wrong. I'

[2016-12-09 02:48] niloyc commented on #79
@bkosik24 Thanks. I followed the changes you made in your forked repo and it compiles fine now. I assume this would still remain an issue due to not working "out of the box".

[2016-12-09 20:14] #79 closed

[2016-12-09 20:25] neroniaky commented on #75
Hey @nicolasduval, I just tried it with example project. `.request()` should work, but I see you used `data: { id: 3 }`, which should be `body: { id: 3 }`.

Another problem could be that you are using a version previous to v0.2.0-beta.4, because the method was called different before.

Hope this helps!

[2016-12-13 12:13] pragun16 opened #88 "Sending additional sign up parameters to devise"
How can I send additional sign up parameters like name, age etc. to devise using registerAccount() ? Can it be customized for sending additional parameters or do I have to use the http post method separately?

[2016-12-13 16:20] neroniaky commented on #88
Angular2-Token does not support additional parameters with the `registerAccount()` method currently. You could use post, but it requires some configuration on the Devise side too.

[2016-12-14 05:48] pragun16 commented on #88
Thanks :) I'm pretty aware about the configuration in Devise as well. I shall use http post for the time being.

[2016-12-14 06:19] #88 closed

[2016-12-14 07:57] #75 closed

[2016-12-15 16:34] cybey opened #91 "currentUserData not available after refresh"
Not sure whether there's an easy way to fix this, but here it goes. I have a user system that has all users in a single table, but they still can have specific roles. Like "admin" or "regular". Since I simply have this as a field in the database, I cannot use the built in Multiple User Types. I can however just let the backend return this field to the frontend.

So when I have a page guarded by ca

[2016-12-15 19:26] diiq opened #92 "Oauth paths fail when API and frontend are not at the same root URL"
My situation:

I host my frontend client at one URL.
I host my API at a different URL.

When I try to use `oAuthPaths` to configure the API path for oAuth, the window's root URL (not the apiPath) is prepended to the path I provide.

See angular2-token.service.ts line 519:
https://github.com/neroniaky/angular2-token/blob/master/src/angular2-token.service.ts#L519

Unless I'm missing something, as th

[2016-12-15 21:16] neroniaky commented on #92
@diiq thanks for your detailed problem description!

As it stands OAuth does not work with an Rails API app unless you modify your rails backend too (see  [here](https://github.com/neroniaky/angular2-token-example/issues/4) and [here](https://github.com/neroniaky/angular2-token/pull/61)). @piotrkaczmarek create a PR for devise_token_auth but it it did not get merged yet.

`Angular2-Token` is quite

[2016-12-15 21:21] neroniaky commented on #91
A quick fix would be to subscribe to `.validateToken()`. It returns an observable, so you can be sure that currentUserData is set.

[2016-12-16 00:52] diiq commented on #92
Thanks for the prompt reply!

I'll look elsewhere for OAuth support for now.

[2016-12-20 02:29] Tybot204 opened #96 "Package not AOT ready"
I am building an app with Angular 2 and Angular-cli. When the app attempts to compile, it is throwing an error for every HTML / CSS file within the `a2t-ui` folder of this angular2-token, saying they cannot be resolved. Commenting the exports for that module, Angular-cli complains about Angular2TokenService not having a provider.

I ran into a similar problem with another library I was using recen

[2016-12-21 01:44] Tybot204 commented on #96
After updating to v0.2.0-beta.4 Those errors above have been resolved. However, webpack now is erroring when exporting `a2tRoutes`. I have opened a PR that resolves this last error: https://github.com/neroniaky/angular2-token/pull/100

[2016-12-21 06:19] #96 closed

[2016-12-21 07:43] Tybot204 commented on #73
@pjq100 try updating to the latest version of angular2-token and see if that fixes your issue. I was having a similar issue related to the a2t-ui folder that was resolved in `v0.2.0-beta.5`.

[2016-12-22 23:00] ArtemGovorov opened #103 "Compiled .js is not used by webpack"
The `package.json` main field points to the `angular2-token.js`, that loads files from [the `src` folder](https://github.com/neroniaky/angular2-token/blob/f1f6a25af1f74dadf6de5e6726481229ccb8901d/angular2-token.js#L5). So despite the fact that there're compiled .js files in the `lib` folder, when webpack in a project that uses the package loads it, it actually loads .ts files (compiling them with

[2016-12-24 01:25] Tybot204 commented on #36
+1 to this. I am currently trying to use JSON API format to talk with my server, and have installed this library: https://github.com/ghidoz/angular2-jsonapi. It would be awesome to be able to get the authentication headers without sending a request, so that I can pass this information to `angular2-jsonapi`.

[2016-12-25 03:44] tomlobato opened #108 "angular-seed compatible?"
I`m having a hard time to make it work with https://github.com/mgechev/angular-seed
Anyone did it successfully already?

[2016-12-27 09:44] tomlobato commented on #108
Well, no way to make this package work in angular-seed.
I\`ve ended up copying `src/angular2-token.service.ts` and `src/angular2-token.model.ts` into my project folder `src/client/shared/angular2-token/` and importing it directly by relative local path.

src/client/shared/shared.module.ts:
[code]

src/client/app.component.ts:
[code]

src/client/shared/toolbar/toolbar.component.ts:

[code]

[2016-12-30 10:29] neroniaky commented on #108
I guess this might be related to #103. I'm on it, but couldn't get the it to work yet.

[2017-01-09 00:24] rafaelss95 opened #113 "userSignedIn() method always returns false"
Hello, I'm trying to check if the user is signed in and it always return false. Even If I test it after call `signIn()` method. I also tried to use the `validateToken()` method and it always return the following:

[2017-01-09 08:03] neroniaky commented on #113
If something like this happens its usually an timing issue. The CanActivate method checks if AuthData is set.

[code]

In your second example your console log functions are outside the subscribe method, so they get run before .signIn() finishes.

[code]

You should check where you redirect and if it triggers before the backend has a chance to answer your signIn call.

[2017-01-09 08:05] #91 closed

[2017-01-09 13:47] rafaelss95 commented on #113
Well, so how can I solve this _timing_ issue?

Also, I tested the 2nd. example inside the subscribe method and it gives the same response.

Thanks for your quick response.

[2017-01-10 20:04] #103 closed

[2017-01-10 20:26] neroniaky commented on #108
I just published version 0.2.0-beta.6, which should work a lot better, because it uses the compiled .js files. Could you give it another try?

[2017-01-13 10:03] hrangel opened #119 "OAuth Issue"
Hi,

Trying to setup my first project using angular2-token and oauth, I've reached to a strange dead-end.
Whenever I try to login (with google for instance) I get this URL built (at the method _buildOAuthUrl)
`${window.location.origin}/${oAuthPath}?omniauth_window_type=${windowType}&auth_origin_url=${encodeURIComponent(callbackUrl)}`

When the window.open method fires it shows:
`Cannot GET /$%7Bwi

[2017-01-13 10:13] neroniaky commented on #119
Hey @hrangel, OAuth currently does not work out of the box with rails api-only due to some problems with devise token auth. We are waiting for them to merge the PR [here](https://github.com/lynndylanhurley/devise_token_auth/pull/765). You can find further information [here](https://github.com/neroniaky/angular2-token-example/issues/4).

[2017-01-13 10:25] hrangel commented on #119
Hey @neroniaky thanks for the answer!
That doesn't makes sense, at least in my head, the built address is completely wrong, that doesn't seem to bem rails fault. It doesn't seem like this URL went through rails api. It seems an angular String error.

[2017-01-13 10:40] hrangel commented on #119
Another thing to notice that, if you try to log in on the Angular2-Token demo app, you can't:
https://angular2-token.herokuapp.com/#/

[2017-01-13 17:00] jomarbarnobal opened #120 "How to restrict user to sign-in again after successfull sign-in"
Hi Just want to ask
How can i restrict user to sign-in again if the user is successfully signed-in?

For instance i signed-in and it was successful and redirect to home-page but if i navigate to sign-in url i can singed-in again.

Im new in angular2 and im using Rails5 for API
Thanks in advance

[2017-01-14 01:51] rafaelss95 commented on #113
@neroniaky, do you have any solution for this?

[2017-01-15 10:36] neroniaky commented on #120
Hey @jomarbarnobal, if you sign in again (with another account) it'll change accounts, which sometimes can be helpful. If you want to block this behavior, you could roll your own CanActivate route guard, which uses the userSignedIn() method.

[code]

[2017-01-15 16:05] jomarbarnobal commented on #120
Thanks sir @neroniaky  it helps me a lot

One more question, how can i resolve this error ?
http://localhost:4200/auth/validate_token Failed to load resource: the server, i always get this error

in my component ts
`export class SignInComponent {

    private _errors: string[];

    constructor(
        private _formService: FormService,
        private _tokenService: Angular2TokenService,

[2017-01-15 19:46] Kris-Simpson opened #122 "currentUserData return data if put some query to url"
If put this (for example) query:
[code]
 to any url, property `currentUserData` and method `userSignedIn()` will be returned positively, but user not logged in.

Is it a bug, or I miss something?

This "bug" appears on password resetting, when go to the url from email.

[2017-01-16 07:14] neroniaky commented on #122
Hey @Kris-Simpson, the library doesn't check with the Backend on `.userSignedIn()`, which would be too slow in most cases, so it validates the format of the auth data only.

If you want to make sure that the token is valid you can use `.validateToken()`.

[2017-01-16 07:15] #119 closed

[2017-01-16 09:29] Kris-Simpson commented on #122
@neroniaky I mean, when user not logged in, and you put those params into url, the property `currentUserData` and method `userSignedIn()` will behave like when user logged in.

[2017-01-16 09:52] neroniaky commented on #122
@Kris-Simpson yes that is correct, for the reasons I listed.

If you are concerned about security: Every request to the backend will fail, because you are not using a valid token.

[2017-01-16 20:34] Kris-Simpson commented on #122
@neroniaky thank you, I think I understand you :)

[2017-01-16 20:34] #122 closed

[2017-01-17 08:31] neroniaky commented on #120
Seems like the apiPath option does work as intended. I've to take a look into it.

[2017-01-17 15:15] #73 closed

[2017-01-17 15:17] neroniaky commented on #69
@micdahl could you give it another try? Should be fixed with 0.2.0-beta.7. Thanks!

[2017-01-17 15:18] #108 closed

[2017-01-17 17:42] hrangel opened #123 "npm install to build"
Hi everyone,

I'm using angular2-token (master branch) on my development environment and everything works fine after I've compiled "manually" the ts files.

Sorry if that is a "noob" question, but is there any way to setup npm install to do that? Or should it be already doing that?

Regards,

Henrique

[2017-01-19 08:05] neroniaky commented on #123
The npm package contains the build files only. If you want to bundle it yourself you could 1) clone the repo and use the service with webpack as part of your project or 2) run `npm run build`, which will give you the same result as the npm package.

[2017-01-19 11:14] micdahl commented on #69
@neroniaky Unfortunately I am very busy at the moment. Will try as soon as I can spare some time. Many thanks for your work!

[2017-01-19 14:11] hrangel commented on #123
Thanks a lot @neroniaky I was about to clone the repo, but since you merged the changes I need it won't be need anymore!
But thanks anyway, it always good to learn something new.

[2017-01-19 14:11] #123 closed

[2017-01-23 12:48] jburich opened #126 "AoT Fails because it cannot find BaseField"
When I compile my code with the Angular 2 AoT compiler the code will compile successfully, however I run time I will get an error that says "Cannot find BaseField of undefined".

I've done some digging around in the source and the problem is in lib/a2t-ui/a2t-shared/a2t-form/a2t-form-field.component.js the BaseField is imported as such:

`var _1 = require("../../../");`

If I change it to

`var _1

[2017-01-23 12:52] neroniaky commented on #126
Hey @jburich thanks for you detailed description. The .js and .dt.s files are build from the .ts-files, so changes will be overwritten.
So we need to to change the a2t-form/a2t-form-field.component.ts to fix this error.

[2017-01-23 14:09] jburich commented on #126
ah yes great point. I'll make the changes in the appropriate .ts files. thanks.

[2017-01-23 14:15] artem-galas opened #127 "redirect_url for ResetPasswordData"
Hi, I have noticed that there is no redirect_url for ResetPasswordData although it is one of the options for devise_token_auth - https://github.com/lynndylanhurley/devise_token_auth#usage-tldr

[2017-01-23 14:59] #126 closed

[2017-01-23 15:14] neroniaky commented on #127
Hey @artem-galas the configuration parameter ist called `resetPasswordCallback`.

[2017-01-23 15:22] artem-galas commented on #127
oh .. I'm sorry. Tired

[2017-01-23 15:22] #127 closed

[2017-01-23 19:35] dtelaroli opened #129 "Error with Ionic"
Error in :0:0 caused by: No provider for ActivatedRoute!

Maybe it's version conflict.

Ionic dependencies:
[code]

[2017-01-23 21:01] neroniaky commented on #129
@dtelaroli I guess the dependencies should be fine, but I haven't tried myself.

[2017-01-24 11:38] dtelaroli commented on #129
I created a [repository](https://github.com/dtelaroli/angular2-token) with Ionic and angular2-token to test with that problem.
I'm newbie with Angular2, so can be my mistake.

[2017-01-24 18:42] geoandri opened #130 "Is ti possible to guard routes for specific user type"
Hi and congrats on your very helpful work.
I am in a position where I have two user types and I want to allow access to a group of  routes only for one userType users. Is this possible? I cannot find a way to "pass" this kind of information (userType) inside the Angular2TokenService. Routes guarded by the service are accessible for both userTypes. Is there any work around this? Are you planning on

[2017-01-25 08:06] neroniaky commented on #130
Hey @geoandri, thanks!
Angular2-Token implements the CanActivate interface for the most basic case. If you want a more complex route guard you can implement your own. `userSignedIn()` gives you the information if the user is signed in, `currentUserType()` the type of user that is signed in.
Hope this helps.

[2017-01-25 08:12] neroniaky commented on #129
@dtelaroli I don't know enough about Iconic to do any debugging.
`No provider for ActivatedRoute!` is a problem that shows up if you don't import `RouterModule` into your Root / AppModule. I don't know how Iconic handles this.

[2017-01-25 12:50] geoandri commented on #130
Hi @neroniaky , thank you for your response.
I ended up "cloning" angular2-token service and created two different services, one for each userType.
Thanks again for your help

[2017-01-25 12:50] #130 closed

[2017-01-26 22:10] chaskas commented on #113
I have the same problem, is there any news?

[2017-01-27 14:25] jburich commented on #126
I see that you merged in the PR, did this get pushed to NPM yet?

[2017-01-27 15:20] neroniaky commented on #126
Not yet.

[2017-01-27 15:22] jburich commented on #126
do you have an eta on when that might be? I can use my forked repo for now if you think it'll be a while, but didn't want to switch over if you think it'll be soon. Not a problem either way, just want to do what's best.

[2017-01-27 15:24] neroniaky commented on #126
I hope I can get this done this weekend.

[2017-01-27 15:25] jburich commented on #126
awesome. thanks.

[2017-01-28 11:30] jomarbarnobal commented on #120
is there a way to bind currentUserData.id in hidden input field ?
like this :
`<input type="hidden" name="user_id" value="{{ _tokenService.currentUserData?.id}}"          [(ngModel)]="_postData.user_id">`

coz i want to submit form with the id of ther user\
thanks in advance

[2017-01-29 01:06] jomarbarnobal commented on #120
Question
how can i reference user in my submit form ?
i have this in my component
`
submitPost(form: NgModel){
   this.submitPost.post(this.value).subscribe(
     res => console.log(res),
     error => console.log(error)
   )
}
`
i want include the currentUserData.id
thanks in advance

[2017-01-29 10:17] neroniaky commented on #120
Usually you don't get your user id from submitting with your data, because it would be a security risk. You can use the `current_user` variable in your rails controller instead. Hope this helps.

[2017-01-29 23:24] jomarbarnobal commented on #120
so i have to us the userSignin() method in  component and pass to put ?

[2017-01-30 19:04] jomarbarnobal commented on #120
I make it work now thanks @neroniaky, Sometimes reading documentation is helpful

here's what i did

[code]

[code]

[2017-01-31 08:16] #120 closed

[2017-01-31 08:20] neroniaky commented on #113
@rafaelss95 @chaskas are you using SystemJS?

[2017-01-31 10:25] rafaelss95 commented on #113
No, I'm using webpack.

[2017-01-31 17:15] gustavogsimas opened #134 "Get result or disable first validate_token call"
Hello,

I have a doubt, I know that we are in alpha, but do or will we have a way to get the result or disable the first validate_token call that is made to the back end?

In the [ng-token-auth gem](https://github.com/lynndylanhurley/ng-token-auth#authvalidation-success) that I'm currently using in some of my angular 1 projects, it has a $scope.$on to get the result. I don't know if in angular 2 w

[2017-02-01 00:44] chaskas commented on #113
@neroniaky Yes I am.

[2017-02-01 07:47] neroniaky commented on #134
Hey @twizzzlers, the validateToken call is made to fill `.currentUserData()`, which includes things like the users email address.
Usually you don't have to make an additional call. Could you give me an example what you're using it for? Thanks!

[2017-02-01 07:53] neroniaky commented on #65
Duplicate of #113

[2017-02-01 07:53] #65 closed

[2017-02-01 07:55] neroniaky commented on #69
@micdahl I gonna close this for now, because the compilation has changed quite a bit. You can reopen this bug when you got a chance to try it out. Thanks!

[2017-02-01 07:55] #69 closed

[2017-02-01 14:00] twizzzlers commented on #134
For example, I wanna see if the user is logged as soon as the user enters the page. I tried with the`.currentUserData()`, but it is undefined until the validate_token call is answered. That's why I questioned:

Can I get the result of this first validate_token call? Or how can I call the `.currentUserData()` after the validate_token call is made? Thanks.

[2017-02-01 14:25] olpdev7 opened #136 "Using FormData with http methods"
Hi!
Is it possible to send formData with put, post, etc methods?
When I have something like:
[code]

I haven't someFormData in my request.
I finded workaround for myself by using:
``http.put`` with all needed headers instead: ``tokenService.put ``

I do something like:

[code]

My angular2-token version is v0.1.17.

[2017-02-01 15:11] neroniaky commented on #136
Hey @olpdev7, angular2-token wraps the same http service you're using in your workaround. Have you tried using the newest beta v0.2.0?

You can take a look at a working example for form submissions at the example repository [here](https://github.com/neroniaky/angular2-token-example).

[2017-02-02 08:10] neroniaky commented on #129
@dtelaroli I did some testing with ionic. Turn out it doesn't use the angular router, but their own version. Changing this seems to be not that easy.

I will check to build a version angular2-token, which doesn't depend on the router, but for now it doesn't work with ionic.

[2017-02-02 08:10] #129 closed

[2017-02-02 13:05] dtelaroli commented on #129
@neroniaky Now it's possible try...
I got work fine the service configuration.
Thanks.

[2017-02-02 17:40] aufdenpunkt opened #137 "Setting the userType AFTER login"
Hi,

is it possible to set the user type after the login action? In our application I'm logging in with my email and password and the backend knows which type of user I am.

Thanks and best,
Chris

[2017-02-02 20:46] software-project opened #138 "ERROR in A2tUiModule is not an NgModule"
I'm getting this error on server startup `ERROR in A2tUiModule is not an NgModule`

[2017-02-03 03:37] MonikaMahanthappa commented on #34
@neroniaky @gbrl This question and the answer was really helpful. Thanks.

Just to add to it Rails devise_token_auth gives `current_api_user` not the `current_user`. Minor correction. Anyway, you do make the right point.

[2017-02-03 09:03] neroniaky commented on #34
Hey @MonikaMahanthappa, Thanks!

The current_user variable depends on the namespace you're defining the devise_token_auth model in. So in your case its the current_`api_`user because you define your user model in the `api` namespace (I guess).

[2017-02-03 09:11] neroniaky commented on #137
Hey Chris, I guess we have to specify user type a little more, because there are multiple ways to solve this.

When `angular2-token` talks about user types it means that you user different user tables/models, which use different routes. For example, the admin signs in  via `/admin/auth` and the user via `user/auth`.

In your case it sounds more like you have one model/table for all users and a col

[2017-02-03 13:29] artem-galas commented on #136
Hi!

Yes, we tried using the new version but still did not succeed  in sending FormData object within `.put` method.
As we need to send an avatar for a user, we do not have other options but sending FormData.

We’ve found a solution by sending a regular `http.put` request with necessary headers, but have faced a different issue - `this._curentAuthData` doesn’t update if a request was sent with a r

[2017-02-04 23:03] vinsy opened #139 "Security Issue - Wrong logic of validation"
I am able to access restricted site even if I send wrong auth headers. You are supposed to validate token from server not just if they are present in local storage before allowing access.

Steps to reproduce:

https://angular2-token.herokuapp.com/

1. Create an account
2. Login
3. from chrome console access local storage & change its value anything you want.
4. click on restricted site.

**Boom!!

[2017-02-05 06:18] adonespitogo commented on #139
Did you try to return 403 or 401 response on the restricted resource? I haven't tried this but I think this module handles unauthenticated responses from the server automatically

[2017-02-05 06:49] neroniaky commented on #139
Hey @vinsey, thanks for your feedback.

Unfortunately you don't seem to understand how a Frontend Library like this works. Please read up on Devise and the underlying devise token with.

Gonna close this for now, because this came up multiple times already and isn't a bug.

[2017-02-05 06:49] #139 closed

[2017-02-05 10:10] vinsy commented on #139
I might be new to this type of client side authentication but I really couldn't understand how a user can activate routes, even if validate token response is still pending from server.

`    userSignedIn(): boolean {
        return !!this._currentAuthData;
    }`

Above code just check `_currentAuthData` from local storage.

As per this github issue, correct way to validate is return true only aft

[2017-02-06 14:08] 91sticker opened #145 "Confused about sending authentication headers for token validation to API."
Hello, I have a setup in which I have a rails 4 API having the gem devise_token_auth and hosted as a separate application so I have also rack-cors configured to handle cross origin requests. Using angular2-token on my front end Angular 2 applicaiton I have been able to successfully sign up and sign in as well as sign out users via my API.
The issue however, which I have encountered occurs only whe

[2017-02-06 14:12] lgleim opened #146 "[Question] Compatibility with other Identity Providers"
Is this service compatible with other Identity Providers such as a generic OpenID Connect Server? Maybe Keycloak? If yes, how would it be configured for such a use case?

[2017-02-06 14:41] neroniaky commented on #146
Hey @lgleim I guess the underlying logic is compatible, but I didn't look into making it compatible to the services you listed, yet. It's on my ToDo-List tough 😄 .

[2017-02-06 14:46] lgleim commented on #146
Great to hear! Since OpenID Connect is a standardardized protocol, it will allow angular2-token to be used with a plethora of Identity Providers. Do you have an actual Roadmap/time-frame in mind? Or is this currently just out there as a todo for later?

[2017-02-06 15:24] neroniaky commented on #146
@lgleim unfortunately I'm quite busy recently, so I don't think I can commit to any timeline.

PR's are always welcome 😉 .

[2017-02-06 15:58] neroniaky commented on #145
Hey @91sticker thanks a lot for your detailed description.

To answer your question about the headers. Angular2-token includes the following headers on each request, which match the standard configuration for the devise_token_auth gem.

[code]

According to your description, this seems to work fine. I think the error you're encountering is connected to the after reload `.init()`. Let me explain ho

[2017-02-06 15:59] neroniaky commented on #138
Can you tell me which framework/bundler you're using?

[2017-02-06 16:00] software-project commented on #138
Angular CLI, when I downgraded CLI it worked.

[2017-02-06 16:01] neroniaky commented on #138
So it doesn't work with which version then?

[2017-02-06 16:04] software-project commented on #138
With 1.0.0-beta.25.5 it raise that exception. With 1.0.0-beta.20-4 it's fine.

[2017-02-06 16:06] bluegod commented on #138
Same problem here, using Angular CLI `1.0.0-beta.26`- haven't tried downgrading yet.

[2017-02-06 16:14] neroniaky commented on #134
Thanks for your example. The first `validate_token()` get run inside the `init()`, which doesn't return an Observable (yet?). I'm not sure how to best handle this case yet, so I guess you have to call `.validate_token` twice until this is implemented, or create a PR :wink:.

[2017-02-06 16:20] neroniaky commented on #138
Gonna take a look into it. Need to update my Angular CLI first.

[2017-02-06 16:27] 91sticker commented on #145
Thank u so much for the response, using postman I have sent a GET request to the endpoint(
"http://localhost:3000/api/v1/auth/validate_token ") with all the headers u mentioned set.

The response I downloaded was as follows:
{"success":false,"errors":["Invalid login credentials"]}

Is there any more information that can be of help to pin point the cause, I am happy to provide.

[2017-02-07 08:41] #146 closed

[2017-02-07 08:43] neroniaky commented on #145
Did you check [here](https://github.com/lynndylanhurley/devise_token_auth#cors)?

[2017-02-07 08:52] 91sticker commented on #145
Yes sir I did in fact, in my set up I had rack-cors integrated on my back end.
User sign up and sign in is working as it should.
Here are the configurations for that in my **application.rb**
[code]

I have also tried with setting methods to any as well but that doesn't work as well, occasionally the rails api also throws a cookie overflow exception.

[2017-02-07 08:59] geoandri commented on #145
@91sticker  Have you added the concern in the base controller as noted [here](https://github.com/lynndylanhurley/devise_token_auth#concerns)? This absence of the concern would explain user not been set by token.

[2017-02-07 09:03] 91sticker commented on #145
@geoandri thanks for the response sir, I have that as well in my application_controller.
I also made curl requests to the server with all the

`curl -i -H 'Content-Type: application/json' -X GET http://localhost:3000/api/v1/auth/validate_token -d '{"access-token": "*************", "client": "*************", "expiry": "*************", "token-type": "Bearer", "uid": "mail@sample.com", "provider": "e

[2017-02-07 09:18] neroniaky commented on #138
Seems to be a problem with angular-cli and its dependencies [here](https://github.com/angular/angular-cli/issues/3426).
For the development it still works on the second compile. Haven't tested publishing yet.

[2017-02-07 09:27] neroniaky commented on #145
I had a similar problem a while back (didn't happen with Rails 5 though). As far as I can remember it was about the capitalization of the headers. So Rails would show the headers as 'Token-Type', instead of 'token-type', which would be blocked by the CORS-Config (I think ?).

So what would be good if you could print out what rails is actually receiving in your controller. Something like this:

[co

[2017-02-07 09:38] 91sticker commented on #145
When I run the **puts request.env["access-token"]** it returns blank.
 However if I inspect **request.headers.inspect**

I find these headers in a long list of headers but with different keys as I have shared above as well.

[2017-02-07 09:45] bluegod commented on #138
Hmm looks like it has to do with the metadata? https://github.com/angular/angular-cli/issues/4447#issuecomment-277813492

In that issue, they also figured out it works after recompiling in dev mode

[2017-02-07 09:53] neroniaky commented on #138
@bluegod yeah I read some other issue that said the problem disappeared after changing the build process.

[2017-02-07 10:03] neroniaky commented on #145
@91sticker you are right. If you inspect the env variable it adds "HTTP_" converts minus to underscore and capitalizes all characters. I just tried

[code]

and it returns the access token.

[2017-02-07 10:11] 91sticker commented on #145
@neroniaky YES!! I can see the access token in the console now.
Now I have 2 questions.

1- Is it the default behavior or did I do something wrong with the configurations
2- How would u suggest I fix it, whether on the server end or the client end?

[2017-02-07 12:48] 91sticker commented on #145
I did a bit more digging and I came across [this](https://github.com/lynndylanhurley/devise_token_auth/pull/79) where auth headers are being passed through cookies and not through headers. Seems like this is the issue I am facing as well.

[2017-02-08 09:08] 91sticker commented on #145
[Here](http://storage5.static.itmages.com/i/17/0208/h_1486544830_6813876_6eee490dcc.png) is a link to the response to the curl request I sent along with the headers.

[2017-02-08 12:27] 91sticker commented on #145
After a lot of googling and going through issues repeatedly, in particular [this](https://github.com/lynndylanhurley/devise_token_auth/issues/28) I realized I had rails-api gem create my application.
I wasn't sure if it was actually causing the issue or not but for now after a few recommendations I have upgraded to rails 5 created a new API application using --api default option and upon configuri

[2017-02-08 20:23] ebosantos opened #147 "404 when Signing out"
I'm dealing with 404 not found when trying to sign out:

`Started DELETE "/v1/auth/sign_out"` -> `Completed 404 Not Found`

I've read somewhere this happens when request doesn't send auth params (access-token, uid, etc).

Looking at code, this makes completely sense:

[code]

Probably you will can remove keys from localstorage only when the DELETE request get completed.

A not tested suggestion wo

[2017-02-09 08:27] neroniaky commented on #145
@91sticker thanks a lot for your work.

I can't see anything wrong with your implementation either, so upgrading to Rails 5.0 would have been my next suggestion too. At least we now know that Rails 4 with the api gem doesn't work. Gonna put that in the README.

[2017-02-09 08:27] #145 closed

[2017-02-09 08:32] neroniaky commented on #147
@ebosantos you're completely right. I did it this way, so that logout works always. Looking at the ng-token-auth implementation, we should probably change it to observable, like you're suggesting. Care to create a PR? Thanks!

[2017-02-09 09:55] neroniaky commented on #139
@vinsy I'm working on an FAQ, which will include this question.

[2017-02-09 16:28] 91sticker commented on #145
No problem, Sir!

[2017-02-12 21:31] rafaelss95 commented on #113
@neroniaky, can you share the code of the demo *site* (https://angular2-token.herokuapp.com)? I didn't found here in this repo.

[2017-02-13 08:05] neroniaky commented on #113
@rafaelss95 README, sentence 3. :wink:

[2017-02-17 03:06] outsourcegb opened #155 "Is there ability to handle session timeout"
Was wondering if there is ability to handle session timeout.

I have issue that if we don't logout and check the application after a day or two it finds user is logged out but it doesn't redirect it to login page.

[2017-02-17 21:27] osazemeu commented on #147
I am encountering same issue, checkout the link below.
http://stackoverflow.com/questions/32507637/why-am-i-unable-to-sign-out-using-devise-token-auth-and-curl

[2017-02-18 16:15] davidjconnolly commented on #138
Is the only workaround to this to downgrade to CLI 1.0.0-beta.20-4?  I'm on 1.0.0-beta.32.3 and it's still happening with `ng serve`:

[code]

[2017-02-19 16:53] davidjconnolly opened #156 "Need ability to update the email of a logged in user"
Hello,

I'm trying to allow my users to update their email addresses.  I'm doing this in a service using:
[code]

Then, in the calling component I have:
[code]

I'm calling getCurrentUser after updateUser as a hack to try and update the local email address within the Angular2TokenService.  However, it's working intermittently.  What appears to be happening is my remote email changes on the serve b

[2017-02-19 21:47] davidjconnolly commented on #156
I found a workaround for anybody else having this issue:

[code]

Basically, after I update my user, I check to see if tokenService's uid/email is in sync with what I just changed, if it's not I update it manually.  Would be great to have an updateEmail (or similar) helper function the way you have for updatePassword.  Or potentially a helper for changing the UID value?

[2017-02-19 23:47] YUzhva opened #157 "Ability to sign in with something other than email address"
Hey hi.

According to the documentation
https://github.com/neroniaky/angular2-token#signin
For .signIn() method, email and password are required and userType - optional.

I set up my api to accept **mobile_number** instead of email for user authentication:
https://github.com/plataformatec/devise/wiki/How-To:-Allow-users-to-sign-in-using-their-username-or-email-address

Is there a way to use '**mob

[2017-02-20 10:13] neroniaky commented on #157
Hey @YUzhva, `angular2-token` doesn't check if email is actually an email, which you could use for some kind a temporary hack (Don't know if Device supports this). Changing the key won't work, because `.signIn()` expects the `SignInData`-Type.

[code]

Gonna put this on my ToDo-List.

[2017-02-20 10:14] neroniaky commented on #155
Have you tried setting `signOutFailedValidate`?

[2017-02-20 10:17] neroniaky commented on #138
@davidjconnolly or ignoring the first compile. I probably gonna have to change the build process to fix this.

[2017-02-20 10:20] neroniaky commented on #156
@davidjconnolly thanks for your explanation. Gonna take a look into this.

[2017-02-20 10:20] neroniaky commented on #137
Gonna close this for now.

[2017-02-20 10:20] #137 closed

[2017-02-20 11:06] outsourcegb commented on #155
Yes, it works when we refresh page but it doesn't work when we have application open in the tab somewhere and try to access it.

Also, sometimes signOutFailedValidate doesn't work when we write url directly.

[2017-02-20 12:22] neroniaky commented on #155
The default timeout for Devise is 2 weeks, so leaving a tab open for this long is quite unlikely (I guess :) ). I think there are two ways to solve a short timeout. Let me know if I understand it correctly.

1. Periodic calls of ".validateToken()".
2. Logout on failed Http-Request, which in my experience leads to many problems.

[2017-02-20 12:50] outsourcegb commented on #155
I am not sure about 2 weeks, but it gets time out before. Its not confirmed but will check about that time.

About calling .validateToken(), yes its there but still I wasn't sure if there is direct way in package that can handle that.

Logout on failed request, agree that will lead.

[2017-02-20 13:26] neroniaky commented on #155
You can modify the lifespan in the `devise_token_auth.rb`.

[code]

[2017-02-20 13:37] bluegod commented on #138
I can't find a workaround for building in production though... `ng build --aot --target=production --environment=prod`

[2017-02-20 17:18] jdrunner opened #159 "canActivate called before init"
After upgrading to **@angular/core 2.4.8**, **@angular/router 3.4.8** the angular2-token Route Guards stop working. It looks like the router is checking the` canActivate` parameter before the app component calls `init` on the angular2-token service.

route declaration:

[code]

app component:
[code]

The page fails to load when it hits the following line of `canActivate`:

` if (this._options.sign

[2017-02-20 22:19] Verurteilt opened #160 "Ability to use another routing library rather than the one angular provides"
It would be awesome if we could use another library for routing with this library instead of the one angular provides, for example: https://ui-router.github.io/ng2/

[2017-02-22 04:07] evanhdc opened #162 "Adding extra registration fields"
I went through the documentation but couldn't figure this out. I'd like to add more fields to the sign up page like
* email
* password
* passwordConfirmation
* first name
* last name
* DoB
But I got a "property_name doesn't not exist in type RegisterData" error when I try to add first name, last name and DoB to .registerAccount().

I took a look at RegisterData and it only includes email, password

[2017-02-22 09:55] neroniaky commented on #159
Thanks @jdrunner for your detailed description. Looks like an issues with angular [#14588](https://github.com/angular/angular/issues/14588#issuecomment-280907352) to me.

[2017-02-22 20:44] kouichitanaka726 commented on #136
Hi @artem-galas I'm having the same issue. Have you solved it already? I would like you to share the solution if you have. Thanks.

[2017-02-23 07:43] artem-galas commented on #136
@kouichitanaka726 Unfortunately, no. Now user is being logged out once they change an avatar. If @neroniaky tells me where I should look at, I would be glad to improve this package :)

[2017-02-23 16:16] Kris-Simpson opened #167 "There is no oAuthHost option"
Visual Studio Code shows, that option `oAuthHost` is not present in `Angular2TokenOptions`

![screenshot at 18-12-46](https://cloud.githubusercontent.com/assets/2270584/23267549/bdf00f6c-f9f3-11e6-95d5-1dbb3db4b6c9.png)

package version: 0.2.0-beta.8 (0.2.0-beta.6 has the same error)

I checked package folder, there is really no such option:

![screenshot at 18-14-36](https://cloud.githubuserconte

[2017-02-23 18:10] norato opened #168 "MockBackEnd backend for development unsing local json files"
I need to code my app without backend using local json files.
I used [ng-token-auth](https://github.com/lynndylanhurley/ng-token-auth) in a previous project and it worked very well.
[code]
When I'm using `rails server` it's running *ok*, but using my local `validate_token.get.json`(as a simple copy of rails server log) is not working running this console error.
![image](https://cloud.githubusercon

[2017-02-25 16:57] bluegod commented on #138
For the record, I managed to _fix_ the issue in development doing the following:

* Clone `angular2-token` repo locally.
* Run `node_modules/.bin/ngc tsconfig.json`
* Copy all generated `.metadata.json` files into the corresponding `angular2-token` folder in the `node_modules` folder of your app.

This is obviously a temporary solution. I can now run `ng serve` and no error is thrown. However, I h

[2017-02-26 16:16] sgruhier opened #170 "Test with angular 4.0.0-rc.1"
NI's not an issue. I just wanted to mention that upgraded my app to ng 4.0.0-rc.1 and everything works perfectly. I don't use all features of angular2-token but this is a good news.

Thanks!

[2017-02-26 17:44] neroniaky commented on #138
I just published beta.9, which includes the `*.metadata.json` files. Would be great if someone would give it a try.

[2017-02-27 08:26] bluegod commented on #138
Thanks @neroniaky - I tested it and I see no more `ERROR in A2tUiModule is not an NgModule`. I think you can close this issue now.

[2017-02-27 10:32] #138 closed

[2017-02-28 07:26] #170 closed

[2017-03-01 05:23] davidjconnolly commented on #138
@neroniaky thanks for the quick fix!  That addresses the `ERROR in A2tUiModule is not an NgModule` issue as @bluegod, however I've found a new issue.

After I log in, if I refresh (Using `CMD-R`) from within my app, the app crashes with the following error:
[code]

It stems from this code where it appears this._options is undefined:
[code]

I've initialized _tokenAuth per the Readme in my AppCompo

[2017-03-01 07:55] neroniaky commented on #138
@davidjconnolly looks to me like [#159](https://github.com/neroniaky/angular2-token/issues/159)

[2017-03-01 22:43] jasonmscollins opened #171 "Use Angular2 RouterStateSnapshot for URL redirect value"
Rather than using the window.location.pathname variable it might be better to use the RouterStateSnapshot state.url value when getting the current location for redirection after sign in.

I found this as an example.
http://jasonwatmore.com/post/2016/12/08/angular-2-redirect-to-previous-url-after-login-with-auth-guard

[2017-03-02 04:16] davidjconnolly commented on #138
@neroniaky thanks!  That was it exactly, downgrading to "@angular/router": "3.2.1" fixed the issue for me.

[2017-03-02 11:11] neroniaky commented on #159
Angular published v2.4.9 which reverted the change. Gonna close this for now. You can reopen the issue if the problem persists.

[2017-03-02 11:11] #159 closed

[2017-03-02 15:11] ollivera opened #172 "signInOAuth -> New Window doesn't close"
I tried signInOAuth() with the default authentication flow (), after the authentication the window doesn't close and nothing else happens.

I also tried the Online demo, and I got the error below after the authentication:

The angular2-token.herokuapp.com page isn’t working
angular2-token.herokuapp.com didn’t send any data.

[2017-03-02 19:23] EduMaca opened #173 "The a2t-ui don't generates the view files and .ts files"
![imageedit_2_6058147627](https://cloud.githubusercontent.com/assets/16768539/23524091/fcfa4460-ff67-11e6-8980-ac43c29f1224.png)
So i installed the angular2-token and all the functionality are fine.
But, when i want to change the a2t-ui files, for my surprise, there are no html or .ts files on the folder, only the declarations files.

Can anyone help me please?

My nodejs version is: 7.6.0
npm ver

[2017-03-03 16:29] msglight4874 commented on #172
Same here.

[2017-03-06 10:02] neroniaky commented on #173
@EduMaca thanks for you explanation. Gonna take a look into it.

[2017-03-09 08:09] 91sticker opened #174 "oauth_callback not working as expected (logging in with facebook.)"
Hello and thanks for creating such a good package!
I have a setup with rails api only app (built in rails 5) as my back end with devise_token_auth, omniauth-facebook and front end angular2 application with angular2-token integrated.

After thoroughly going through the documentation I have implemented the user token authentication which works just fine, however I since yesterday am attempting to lo

[2017-03-12 08:58] neroniaky commented on #168
Looks like a problem with your CORS configuration to me. Did you check [here](https://github.com/neroniaky/angular2-token#cors-configuration)?

[2017-03-12 09:04] #167 closed

[2017-03-12 09:06] neroniaky commented on #167
@Kris-Simpson its named oAuthBase not oAuthHost. Thanks spotting this!

[2017-03-12 09:31] neroniaky commented on #173
The packages is compiled for AoT, thats why there are no TS files. The HTML and CSS is included in the .js files as well.

[2017-03-12 09:31] #173 closed

[2017-03-12 10:58] #162 closed

[2017-03-12 11:01] neroniaky commented on #162
@evanhdc thanks for your issue. This commit should allow you to add more data to the hash for `.registerAccount()`.

[2017-03-12 22:05] johnpmitsch commented on #162
@neroniaky I would love to use this in my app,  when do you think it will be included in a release?

[2017-03-17 10:13] artem-galas commented on #136
Hi @neroniaky . I really need help here :)

I figured out what should be done to solve the issue I am having. I need to pass the following headers:
`'Content-Type':'multipart/form-data'`
As far as I understood, they should be passed using `RequestOptionsArgs` parametr in your http wrapper methods.

But I do not understand how I can do this.
Can you please explain this? As the code below causes suc

[2017-03-20 11:12] Chosko opened #184 "Stop adding a final slash to apiBase URL"
Hi,
I use constants to build my URLs.

[code]
because for me it's easier to make calls such as `this.http.get(baseUrl + usersUrl)`, obtaining `GET http://example.com/v1/users`

However, although I configured angular2-token with `apiUrl: baseUrl` (which doesn't have a trailing slash), for some reason `this._tokenService.get(usersUrl)` adds another slash to the URL, which then becomes  `GET http://e

[2017-03-20 13:44] norato commented on #168
@neroniaky I created a express backend to simulate it. We need a more complex mockup.
Thanks for your feedback!

[2017-03-20 13:45] #168 closed

[2017-03-20 13:47] norato opened #185 "Simulate a validate_token"
In my mock backend i need a validate token json.
Is thare a way to simulate it?

[2017-03-20 14:15] neroniaky commented on #185
The library doesn't check the supplied token, so you can pass any token you want.

[2017-03-20 16:59] norato commented on #185
@neroniaky thanks, i will ask there

[2017-03-20 20:08] brunsten commented on #172
this needs to get addressed

[2017-03-20 20:37] #185 closed

[2017-03-24 09:49] avatsaev opened #194 "Incompatible with Angular 4 AOT compilation"
Angular2 Token is incompatible with Angular 4 Ahead Of Time compilation

[code]

[2017-03-24 09:50] neroniaky commented on #194
@avatsaev Thanks! Working on it right now 😄 .

[2017-03-24 09:52] avatsaev commented on #194
Oh just forked it to fix lol, need help?

[2017-03-24 10:04] neroniaky commented on #194
Gonna give it a try first. Will let you know if I run into any problems. Thanks!

[2017-03-24 10:33] avatsaev commented on #194
Tested, seems to be working on this branch? Do you want me to PR?  https://github.com/avatsaev/angular2-token/tree/angular4-aot

[2017-03-24 10:37] neroniaky commented on #194
Perfect Thanks. Can you remove the "public" and give the PR a proper name? That would be awesome.

[2017-03-24 10:39] avatsaev commented on #194
Ok,

what do you mean?

[2017-03-24 10:40] neroniaky commented on #194
`private _emailSend: boolean = false;` -> `_emailSend: boolean = false;` should be sufficient.

[2017-03-24 10:42] avatsaev commented on #194
got it

[2017-03-24 10:50] avatsaev commented on #194
Thanks for the merge, when will you publish on NPM?

[2017-03-24 10:53] neroniaky commented on #194
As soon as I tried it with the example project. I'm on it now.

[2017-03-24 10:53] avatsaev commented on #194
Ok keep me posted 👍🏻

[2017-03-24 11:34] avatsaev commented on #194
Looks reassuring https://github.com/neroniaky/angular2-token/commit/17a6c7aa69dc4623554c63bee5ad18aa517de1d0#commitcomment-21473371

[2017-03-24 13:57] #194 closed

[2017-03-24 15:44] venomoustoad opened #198 "localStorage not set when I set apiBase upon _tokenService.init()"
I have a rails BE application on localhost:3000 and FE on localhost:4200. I am trying to get the token validation to be done automatically and I understand this happens through localStorage being set and retrieved during the _tokenService.validateToken() method. The problem seems to be that once I sign in (successfully), I looked at my localStorage in my browser and found nothing saved. Hence, whe

[2017-03-26 17:33] suthaRavi opened #202 "userSignedIn"
userSingedIn return false after successful login.

[2017-03-27 05:10] venomoustoad commented on #198
After much searching and trial and error, the solution was in setting a proxy for specific routes. This can be done by adding the following file in the root directory of your angular application

[code]
also include this in your

[code]
This issue fundamentally was that response headers sent were not getting allocated to my browsers localStorage through the following command

`this._tokenService.i

[2017-03-27 05:11] venomoustoad commented on #202
this might be the same issue - you could try the solution here
https://github.com/neroniaky/angular2-token/issues/198

[2017-03-27 05:12] #198 closed

[2017-03-27 06:43] neroniaky commented on #198
@venomoustoad thanks a lot for your detailed explanation.

The way I solved this in the example repository ([here](https://github.com/neroniaky/angular2-token-example/blob/master/angular2-client/proxy.conf.json)) is to use hash style routing and this proxy.conf:

[code]

[2017-03-27 06:47] neroniaky commented on #184
@Chosko thanks for your detailed explanation. I know that the route building is kinda messy, especially the naming. Do you know if there's some kind of standard for this?

[2017-03-27 11:46] venomoustoad commented on #198
Sure np. I tried your solution as well. The problem I faced was considering I had already defined a whole set of assets in my FE application and when I set a ** proxy, it was trying to load everything from my BE instead. Hence, i had to include the api routes uniquely.

[2017-03-29 08:20] neroniaky commented on #202
Can't reproduce error. Could you provide a more detailed description?

[2017-03-29 23:26] suthaRavi commented on #202
hi

kindly look the following details:

Back end Rails 5 and  devise token auth

front end Angular 2 and Angular2 token auth

After login,

        login is success but

*.userSignedIn() returns false*

logout returns error like this

  ERROR Object { _body: "{"errors":["User was not found or w…",
status: 404, ok: false, statusText: "Not Found", headers: Object, type: 2,
url: "http://localhost:300

[2017-03-31 04:20] dancancro commented on #159
Hi all. I'm working on [this](https://github.com/dancancro/great-big-angular2-example/tree/fixauth/src/app/core/auth) project and having this problem with Angular 2.4.9, & angular2-token 0.2.0-beta.11

[2017-03-31 07:27] neroniaky commented on #159
Something about the order got changed again [see Angular Changelog](https://github.com/angular/angular/blob/master/CHANGELOG.md), not sure if it has any influence.

@dancancro do you know how other libraries solve this problem? Should be common..I guess?.

[2017-03-31 15:43] dancancro commented on #159
@neroniaky sorry, I don't know that.

I'm not sure where in the change log you find this reordering - Do you mean here?
"core: call lifecycle hooks for siblings in declaration order"

[2017-04-02 12:28] cybey opened #205 "Forgot password flow"
I'm trying to set up the "forgot password flow". In my Rails 5 backend I'm using devise_token_auth (0.1.40).

I set the frontend up as in the documentation, meaning when an user requests a new password, I call:
[code]
This works as intended, and the backend sends an e-mail to the user with a token.

However, when the user clicks the link, and the password reset form is I call this:
[code]

I now s

[2017-04-04 01:22] suthaRavi commented on #202
I solved the problem.
The problem is from back end, access token not send to client.

Thanks

[2017-04-04 01:22] #202 closed

[2017-04-10 09:22] skoropadas commented on #172
Check this https://github.com/lynndylanhurley/devise_token_auth/issues/830 if you using Rails 5

[2017-04-10 09:29] brunsten commented on #172
@skoropadas haha, thanks. Just spent 16 hours this weekend rebuilding my app towards devise instead of using devise-auth-token...

[2017-04-18 04:28] bpeterson1663 commented on #57
Hey so I ran into this issue as well and I added the line that kamrantgp said to add
` 'angular2-token' :'npm:angular2-token/src/angular2-token.service.js',`
to my systemjs.config.js; however, now I am getting an `/traceur (404) Not Found` error

<img width="1264" alt="screen shot 2017-04-17 at 11 23 28 pm" src="https://cloud.githubusercontent.com/assets/15317676/25114609/6a90f2b8-23c5-11e7-8a17-2

[2017-05-01 02:51] davidjconnolly commented on #205
Thanks for the explanation @cybey, were you ever able to get this working?

I'm trying to generate a custom link to allow users to 'set' their passwords initially after our admins create them from the backend.  I've got angular2-token set up to call the backend using:
[code]

Then I get the same output on the server that you're getting:
[code]

What was the configuration change you made to devise_

[2017-05-01 03:23] davidjconnolly commented on #205
I'm also using the correct passwordCurrent value in the above example, although ideally I wouldn't need one at all

[2017-05-01 10:56] tagazok opened #221 "http get request with queryParams"
Hi, I am trying to do a get request with some query params.
[code]

However, the params are not set in the query. What is the proper way to do this?

[2017-05-02 13:16] cybey commented on #205
I got it working through some hacks.

In devise_token_auth I made an override for PasswordsController:
[code]

In my frontend, I have a component where users can reset their password and added this in the ngOnInit:
[code]
Then I use the "headerInfo" to submit the new password-reset when submitting the form:
[code]

So what's happening is that before the user can enter anything, I do a call to the

[2017-05-02 13:33] cybey commented on #221
[code]

Easy as that!

[2017-05-04 05:25] SampadaBhagat commented on #157
Any updates on this? I need to send an object in the signIn call.

[2017-05-05 15:56] marlonmantilla commented on #174
Hi @91sticker can you please show how did you handle to store the data manually ? I may be getting the same issue here.

[2017-05-06 16:18] davidjconnolly commented on #205
Thanks @cybey, I ended up using another somewhat hacky approach and just sidestepped devise altogether.  Basically, I generate a link with a password reset token and just search my users by that token when the user comes back, update the user with the password/password_confirmation provided by the client, return a 200 then login from the client using the newly set password and _tokenService.signIn

[2017-05-06 16:20] davidjconnolly opened #231 "Adding properties to UserData"
I'm trying to add a 'role' property to my users, however I'm getting typescript compilation errors as role isn't defined on UserData.  As a workaround, I'm using lodash _.get to trick the compiler but this is obviously not an ideal solution :P

Short of forking the repo and changing the UserData definition, is there a better way to do this?

Thanks!

[2017-05-07 11:11] neroniaky commented on #231
@davidjconnolly Or you could fork the repo, modify it for the use of an extended UserData (which is managed by Devise), and create an PR when your done :smile:.
Its on my ToDo-Liste, but Im quite busy recently.

[2017-05-08 04:02] suthaRavi commented on #202
Hi

How can I use a2t ui.

I really appreciate for your help.

Thanks

On Wed, Mar 29, 2017 at 7:26 PM, Ravi Vendan <ravivendan@gmail.com> wrote:

[2017-05-10 13:08] osazemeu commented on #136
Am facing same issue!

[2017-05-11 00:26] Senegal commented on #136
you can use "request" method and append auth headers with {enctype: "multipart/form-data"}

example from my user-service class
`
export class UserService extends Angular2TokenService {
 ......
  updateMediaImage(model, id, value){
    let fd:FormData = new FormData();
    fd.append('media', value, 'image.png');
    let hdrs = this.currentAuthHeaders;
    hdrs.append('enctype',"multipart/form-data"

[2017-05-14 18:46] Kaizeras opened #236 "FormData not being sent as body"
Hello,

Sending `formData` as a request body using the `Angular2TokenService`does not add anything to the body and simply sends an empty body.

Appending form data:
[code]

Sending it to the server:
[code]

How can I make this work? I'm using form-data primarily because I'm sending images, so using JSON won't work.

Thanks in advance!

[2017-05-15 03:04] davidjconnolly commented on #236
+1 I'm trying to do the exact same thing.  I've been trying to hack https://github.com/valor-software/ng2-file-upload to work but since responses don't update my token, I basically get logged out every time I upload a file.

[2017-05-15 12:09] Kaizeras commented on #236
I made a workaround. I will update you on it later today

[2017-05-16 13:01] VadymBoguslavsky commented on #145
I`m not using api gem and still got the same problem. Rails >5

[2017-05-16 20:36] davidjconnolly commented on #236
@Kaizeras were you able to get this working?

[2017-05-17 06:36] neroniaky commented on #236
@davidjconnolly I  tried using ngx-uploader, which works if you set `  config.change_headers_on_each_request = false`, but thats a **security risk**!

[code]

[2017-05-17 08:18] Kaizeras commented on #236
Yes, I made an easy workaround:

Given that you want to make **some** requests to be `multipart/form-data`, not all of them, you can extend the `Angular2TokenService` and initialize it with different `globalOptions` for a particular request:

[code]
You can also move the `init` to a separate method call.
If you do it this way, the options that are set globally are done with `application/json` requ

[2017-05-17 19:21] ghosthope opened #238 "User roles"
Hi!
Could you explain how use this library with different user roles? Why must I set an user role in signIn data if I know only login and password?

[2017-05-18 06:45] neroniaky commented on #238
Hey @ghosthope. There are multiple ways to handle a multi-user setups. The frontend only needs to know about if you use the multi user model setup explained [here](https://github.com/plataformatec/devise/wiki/How-to-Setup-Multiple-Devise-User-Models). Thats because you need to handle different routes for different user types, like `/admin/auth` for admin or `/user/auth` for user.
For the default b

[2017-05-18 13:43] #236 closed

[2017-05-21 05:23] Verurteilt commented on #160
It's been a while since this, need any help with a PR?

[2017-05-22 07:13] neroniaky commented on #160
Hey @Verurteilt, the router is used for `getAuthDataFromParams()` only. If you can make this function more universal another routing library would work. A PR would be much appreciated 😄 . Currently don't have the time to look for a solution myself.

[2017-05-22 07:15] neroniaky commented on #221
Thanks @cybey !

[2017-05-22 07:15] #221 closed

[2017-05-22 14:04] Paktusin opened #253 "How Access currentUserData after page reload"
Hi. How can I subscribe currentUserData? After page reload, Validating user and then I need read userData but onInit method curentuserData is undefined. if on init I call validatetoken() it will be call twice.

[code]

[2017-05-22 14:08] neroniaky commented on #253
Please see [#134](https://github.com/neroniaky/angular2-token/issues/134).

[2017-05-22 14:22] Paktusin commented on #253
Thanks. I hope init function will be Observable soon

[2017-05-22 14:22] #253 closed

[2017-05-23 08:10] 91sticker commented on #174
Hello @marlonmantilla m sorry for responding so late, was out of station.

Here is how I handled the issue:

So basically after going through the documentation and through the source of sample project, I created a component named "oauth-callback.component" and inside my router the path 'oauth_callback' points to that particular component. Upon redirection from facebook (after logging in) this comp

[2017-05-23 19:04] Verurteilt commented on #160
@neroniaky  It seems to be it's gonna be way more difficult than that because you use CanActivate, and it only works with the Router that comes with Angular 2, what do you think of separating this into a different class?

[2017-05-26 06:49] #238 closed

[2017-05-26 13:55] bentedder commented on #205
I'm getting this same issue and I'm wondering if it's a problem with a devise version possibly? https://github.com/plataformatec/devise/issues/4446#issuecomment-284602642

[2017-05-26 15:35] bentedder commented on #205
Ah, no i figured this out just now. Here's the deal. Check out the line of code here: https://github.com/neroniaky/angular2-token/blob/fa6aa092dc1b54b1d7940e2cc84042575f94acad/src/angular2-token.service.ts#L270

So it's actually checking for null. Here's the problem with the reset password flow (something I may submit an issue for): the interface for updating a password has current password as a r

[2017-05-29 11:37] er-ant opened #258 "Configurating sign-in component in a2t-ui"
Hello. Is it any way to config links in sign-in component? In my project only administrator can register anybody, so i don't want to display 'sign up' link on the first screen.

[2017-05-29 14:52] Verurteilt commented on #258
Hello @er-ant, I don't think this is an issue with the library, whan you can do is do not add a signup button on the first screen, then on the Route for the signup validate if the used is loged and if he is an administrator, you can do this in both backend and frontend.

[2017-05-30 07:23] er-ant commented on #258
@Verurteilt I am about configuring default a2t-ui module.

[2017-05-30 08:41] neroniaky commented on #258
Thanks @Veruteilt.

The Module is supposed to be for an easy start only, it is therefore not configurable. You can roll your own "quick start" by cloning the example repo.

[2017-05-30 08:41] #258 closed

[2017-05-31 00:58] denishaskin opened #259 "Not staying logged in across a refresh"
From reading other issues and the doc, it does sound like a user *should* stay logged in after a page refresh, but I can't get that to work.

This is a pretty standard angular-cli Angular 2 app, using an auth guard.

What I find a little weird is that after I have logged in successfully, even if I inspect `localStorage` (and `sessionStorage`, for that matter) using Chrome dev tools I don't see any

[2017-05-31 01:44] victorct commented on #259
Hello @denishaskin  could you provide us with something we can work with? We might not be able to give you a solution without some code first.

[2017-05-31 06:45] neroniaky commented on #259
My guesses:
1. Missing .init() in main Component
2. CORS configuration

[2017-05-31 14:29] Bernica opened #260 "Not refreshing atCurrentAuthData"
Hi !

I've been having an issue with the "session" when using multiple tabs, and in rare cases (not reproducible yet) when using just one too.

After digging into the library code, I found the following problem: At angular2-token.service, when making a new request, it checks for `this.atCurrentAuthData != null` but this local variable may have old data, as another request from another app (like th

[2017-05-31 17:23] volpejoaquin commented on #260
I found a simple solution adding only one line:

[code]

`Angular2TokenService.prototype.request = function (options) {
      let baseRequestOptions;
      let baseHeaders = this.atOptions.globalOptions.headers;
      // Get at current auth data from local storage
      this.getAuthDataFromStorage();
      // Merge auth headers to request if set
      if (this.atCurrentAuthData != null) {

[2017-06-02 01:16] neumerance opened #261 "Keeps on redirecting to login"
I setup CORS in my API.
`config.middleware.use Rack::Cors do
      allow do
        origins '*'
        resource '*',
                 :headers => :any,
                 :expose  => ['access-token', 'expiry', 'token-type', 'uid', 'client'],
                 :methods => [:get, :post, :options, :delete, :put]
      end`

I also setup

`signInRedirect:             '/login',`

I can receive the respon

[2017-06-02 03:50] neumerance commented on #261
my fault my CORS is not configured correctly; headers is not exposed

[2017-06-02 03:50] #261 closed

[2017-06-02 09:24] osazemeu commented on #231
@davidjconnolly Could you explain further how you solved this issue? I have been at this for hours on end. No luck getting this done at my end!

[2017-06-05 08:45] osazemeu commented on #231
I was able to temporarily bypass this issue by by using this aot false flag for the production build.
`ng build --prod --aot=false`

This is only a temporal solution.

[2017-06-15 17:46] denishaskin commented on #259
@neroniaky I have the `.init()` in my own auth service, is it a requirement that it be in a main component?

Can you clarify what you mean by CORS configuration?  I *am* correctly getting authenticated and it all works fine until I refresh the page.

I've been away from this project for a bit but I'm putting together a sample app now.

Thanks!

[2017-06-19 23:10] denishaskin commented on #259
Okay, I think I had 2 issues.

First, yes, my back-end CORS config wasn't allowing the relevant headers to be accessed, and so auth info was never getting written to local storage by `angular2-token`.

Second, I ended up `.init()` ing the `angular2-token` service both in the main Component *and* in the AuthGuard, which seemed to be the main issue for the refresh.

[2017-06-19 23:10] #259 closed

[2017-06-21 17:59] IrtazaSafi opened #275 "Please push the reset password fix to NPM."
The issue where the password reset requires the 'passwordCurrent' field is fixed in the repo but I belive the changes haven't been pushed to npm.

[2017-06-22 19:33] denishaskin opened #288 "http service wrapper -- errors when integrate"
I have working API calls without using `angular2-token`'s HTTP service wrapper:

[code]

but when I swap in the service wrapper:

[code]

I get puzzling errors (no back-end request is getting fired):

[code]

Thoughts?

[2017-06-22 20:08] denishaskin commented on #288
For the time being I'm working around this with:

[code]

[2017-06-22 20:27] denishaskin opened #289 "impersonate another user?"
I'd like to let an admin user "impersonate" another user, and I'm trying to figure out how best to do this (and whether `angular2-token` can support this without modifications).  (I'm using the `devise_token_auth` gem on the back end, fwiw.)

I've already got the client-side logic so that if I'm an admin I can set a flag in my `User` object that I'm impersonating a user and who the impersonated us

[2017-06-26 06:52] neroniaky commented on #275
Hey @IrtazaSafi, sorry for the delayed response. I just downloaded the latest package from npm and it contains the ? in question 😄 . Could you check again? Maybe I'm doing something wrong. Thanks!

[2017-06-26 07:06] neroniaky commented on #289
Hey @denishaskin , this would be a nice feature to have. Haven't tried it yet though 😄 .

I'm not sure if I understand your approach correctly, but you should always remember that there is no security in the client side, so everything should be handled by the backend.

It largely depends on which kind of admin implementation you are using in your Backend. You could go the CanCan route, or with an

[2017-06-26 07:17] neroniaky commented on #260
Hey @Bernica thanks for point out this problem.

@volpejoaquin sound like a good solution to me. The library currently only checks the storage once on startup. Care for a PR?

[2017-06-27 06:43] #260 closed

[2017-06-27 20:49] IrtazaSafi commented on #275
Hey. The current code has that block however, the backend still fails when I try to reset the password with the user 'logged out'. It works with the user 'logged in'. This is the frontend error that I get:

![screen shot 2017-06-27 at 4 45 15 pm](https://user-images.githubusercontent.com/7645974/27609309-6ca30292-5b58-11e7-8248-c6ce772e2552.png)

On the backend I get

Processing by DeviseTokenAuth

[2017-07-06 04:47] chaskas commented on #66
Same bug!! Safari iOS and Safari Sierra (10.1.1)

[2017-07-06 14:49] chaskas commented on #66
Solved!

Just modify this line in your Rails project:

`#config/initializers/devise_token_auth.rb

#from:
config.batch_request_buffer_throttle = 5.seconds

#to:
config.batch_request_buffer_throttle = 1.day`

Or whatever you think a session will remain alive

[2017-07-10 13:02] artem-galas opened #299 "Not right installed from github"
Hi.
I want to get the latest changes that `master` branch contains, but I can't. As the version on npm differs from the version in master.
I have also tried to install the package from github, but I am getting a different package content.
![8829d2abd3](https://user-images.githubusercontent.com/6387897/28019356-5d2fe100-6589-11e7-9b7c-183fe7a8e5d3.jpg)

[2017-07-13 08:33] arjenbrandenburgh opened #303 "Sentry.io: errors found in production"
I've implemented Sentry.io in my production application, and occasionally see errors coming in from angular2-token. Figured I'd share a few with you to further investigate if you want/need.

These errors relate to the same line of code:
Line: https://github.com/neroniaky/angular2-token/blob/master/src/angular2-token.service.ts#L426
- NS_ERROR_FILE_CORRUPTED
This error occurs in Firefox 54 on Mac O

[2017-07-14 09:15] cybey commented on #299
Assuming you've tried this in your package.json:

    "dependencies": {
        "angular2-token": "git://github.com/neroniaky/angular2-token.git#master"
    }

[2017-07-14 09:17] artem-galas commented on #299
Yes, I tried you example, but after install from git, I have not build package (on screeshot I don't have lib directory)

[2017-07-14 09:29] cybey commented on #299
So what are you trying to achieve?
If you just want to use the dependency in your project, you're done. If you want to make changes, you have to clone (or fork) the repo. If you just clone it, you can point to it in your package.json like this:

    "dependencies": {
        "bar": "file:../foo/bar"
    }

If you fork it, and make changes, you can simply refer to it like in the example I gave you

[2017-07-14 09:39] artem-galas commented on #299
I want to use the version from master branch, and not from npm.
The problem is if to install the package from github, its content doesn't contain  `lib` folder which is the main one for installing the package. It happens due to the fact the `build` script isn't running when you're installing the package from github.
On the screenshot I have shown what I am getting when trying to install the packag

[2017-07-27 20:45] volpejoaquin commented on #71
I have the same error with https://github.com/mgechev/angular-seed and angular2-token. Could you give me a solution ?.

 I'm trying do the following:

_File_
https://github.com/mgechev/angular-seed/blob/master/tools/config/project.config.ts
_Changes_
[code]

_File_
https://github.com/mgechev/angular-seed/blob/master/src/client/app/app.component.ts
_Changes_
[code]

And also have the same error:
[c

[2017-08-04 10:41] timorthi opened #309 "Angular 4.3.x HttpClient compatibility"
Are there any plans to upgrade this service to support Angular 4.3.x's `HttpClient`?

[Commit describing the change](https://github.com/angular/angular/commit/37797e2)
[Official docs](https://angular.io/guide/http)

[2017-08-04 17:54] neroniaky commented on #309
Hey @xozzo, sure. Working on it, but as far as I can tell, it will be quite some work.

[2017-08-05 01:52] xozzo commented on #309
@neroniaky Is there an active branch? I'm interested in contributing. :)

[2017-08-06 07:33] neroniaky commented on #309
@xozzo just pushed the branch httpclient. Enjoy :).

[2017-08-06 07:35] #289 closed

[2017-08-08 01:52] xozzo commented on #309
@neroniaky I think I've got a rough idea of the changes that need to be made - do we want to keep the service backwards compatible for those who are using <4.3?

[2017-08-08 15:45] neroniaky commented on #309
As far as I can tell now, being backward compatible will add a lot of complexity. What do you think?

[2017-08-09 02:14] xozzo commented on #309
Yeah, I agree. The new `@angular/common/http` module introduces [HttpInterceptor](https://angular.io/guide/http#intercepting-all-requests-or-responses) which eliminates the need for a2token to implement http method wrappers. If you really wanted to, maybe we can determine which Http module to use based on [version obtained at runtime](https://github.com/angular/angular/issues/1357)?

[2017-08-09 22:10] misham opened #315 "Any plans to support canActivateChild?"
Is this something you're open to?

[2017-08-11 07:19] neroniaky commented on #315
Sure! I think this could be part of HttpClient Branch. I currently have very little time to contribute though.

[2017-08-14 09:57] guy-roberts commented on #160
I need this too. But before I try working on a PR to get angular-2-token working with the Ionic Router, has it already been done anywhere ? (Also, I am starting to wonder what all the ionic apps that use Devise Token Auth are working)

[2017-08-20 16:03] AlexanderKozhevin opened #329 "Getting validateTokenPath of 'undefined'?"
I tried to initialize  it inside my service.
But keep getting this error. What is it related to?

Initialization inside components works perfect.

[2017-08-30 20:29] mrsweaters commented on #309
This looks good. The typings still point to `lib` instead of `src` in:
https://github.com/neroniaky/angular2-token/blob/httpclient/angular2-token.d.ts

[2017-09-08 17:25] jmargolese commented on #129
This still does not load with Ionic 3.
@version 0.2.0-beta.12

Does anyone have a working solution for Ionic 3?
(This version still tries to load from @angular/router which doesn't exist.)

thx

  `  typescript: node_modules/angular2-token/lib/angular2-token.service.d.ts, line: 1
            Cannot find module '@angular/router'.
       L1:  import { ActivatedRoute, Router, CanActivate } from '@ang

[2017-09-11 11:13] guy-roberts commented on #160
@neroniaky, @Verurteilt

I got basic requests woking with Ionic (not registration etc), just by removing the angular router.

But the other thing is that angular-2-token provides its own set of http methods.

I need to use Restangular, but of course the correct headers would not get sent by Restangular. So I would also need to change the way tokens are stored and used on the client.  With the orig

[2017-09-11 15:00] PArzi commented on #275
I'm also getting same error. Checked my package and passwordCurrent is not required. @IrtazaSafi did you find any solution for this?

[2017-09-13 16:11] guy-roberts commented on #160
Angular 4.3 has interceptors built in.  https://ryanchenkie.com/angular-authentication-using-the-http-client-and-http-interceptors.  So this is a way to store tokens and also to put them back into the http requests.

Although Ionic is not yet using Angular 4.3,  it seems to work by specifying this in package.json.

I'll post here if I get it all working sweetly.

[2017-09-13 17:11] Verurteilt commented on #160
@guy-roberts  It's been a while since we finished the project we we doing with Angular2 (now we are currently doing 1 with React-Redux), I'll try this weekend to give a shot to this Issue and see if I can come up with a PR.

[2017-09-13 20:15] martinechtner commented on #155
@neroniaky When a session times out and 401 is returned from the api, how would I automatically redirect to sign-in?

Currently if a session times out I refresh the page manually:
- it reloads the page I was on
- no data is returned as the session is in a invalid state

If I refresh the page again then I am redirected to sign in.

[2017-09-17 13:52] NuclearMachine opened #340 "Any plans of supporting ionic 3?"
doesnt seem to work without the router module.

My system:
[code]

[2017-09-21 18:47] rmcsharry opened #342 "Incorrectly sends passwordConfirmation instead of password_confirmation on sign_up"
When I examine both the post payload and the Rails log I notice that the parameter name is incorrect for the password confirmation:
[code]

If you write a standard validation, like so:

[code]

Then sign_up/registration fails because Rails thinks that password_confirmation is blank.

[2017-09-22 18:34] fabn commented on #340
Why did you close this? Have you found a working solution?

[2017-09-23 02:31] NuclearMachine commented on #340
Nope didn't found a solution. I am currently experimenting with jwt-devise instead

[2017-09-24 14:51] rameerez opened #343 "Help getting Auth data after callback on Ionic InAppBrowser window"
First of all, thank you (thank you!) for creating and developing `angular2-token`. It works flawlessly and it makes my life so much easier.

I'm using a RoR backend with `devise_token_auth` as recommended. I'm writing an Ionic 3 (Angular 4) application for the frontend, and everything works wonderfully with email signup/login.

I now want to add Instagram OAuth login for my app, which should be a

[2017-09-24 16:17] rmcsharry commented on #342
Never mind, I see that the confirmPassword is sent by my form, not this library

[2017-09-24 16:17] #342 closed

[2017-09-24 22:18] chadnaylor commented on #340
Finally got a solution working for this after a decent amount of struggling. I ended up forking angular2-token and adding some logic to handle Ionic inAppBrowser OAuth flows.

If anyone's still interested I can clean up the code and put it up or submit a pull req or something.

[2017-09-25 10:10] chadnaylor commented on #343
We just spent the last week working through this. I ended up forking angular2-token and adding a bit of my own logic.

Due to the peculiarities of the inAppBrowser, when you get to the callback url you need to grab the auth params from the browser window with requestCredentials(). Angular2-token doesn't handle this by default yet...I'll probably submit a PR with fixes soon if people are interested

[2017-10-02 13:11] rmcsharry commented on #231
I found another solution to this problem, unfortunately it requires a fair bit of coding:

1. Create a User object class with all the attributes you want in it. For example:

2. Create a user service that contains a public object of type User, eg:

`public current_user: User`

3. In the constructor of this service, inject the Angular2TokenService and subscribe to the validateToken method:

[code]

[2017-10-06 02:38] raysuelzer commented on #198
I am having a similar issue.  I have the proxy set up and working, and can see localStorage being set in my browser, but getAuthDataFromStroage is returning null.

![image](https://user-images.githubusercontent.com/1176341/31260728-b9fa0ae0-aa04-11e7-952f-dfde6323eb30.png)

[2017-10-06 03:09] raysuelzer commented on #198
This was an error my end. I had two instances running.

[2017-10-08 17:34] Uelb commented on #309
Hi,
Is there a quick workaround to implement an HTTP interceptor around the angular 2 token service http wrapper ? I was thinking about extending the service class and redefining the handleResponse method, but I was wondering if there would be a simpler way while waiting for this branch to be available.

[2017-10-11 14:32] betosalvador opened #348 "What is the best pratice to keep sessions?"
Hello.

I'm using Rails 5 API with DeviseTokenAuth and I have a endpoint (/books) that find all books from current_user.

I created a BookService in my angular project that access this endpoint with this code:

[code]

The problem is that when I navigate to another page and back to this page and inspect the headers sent in this request, the Headers is the same sent previously and I get a Unauthori

[2017-10-13 19:56] betosalvador commented on #348
Hello, I already found the solution.

To keep the session, I have to use the GET, POST, PUT, DELETE methods from Angular2TokenService.

Thanks!

[2017-10-13 19:56] #348 closed

[2017-10-15 00:51] Gauravshah commented on #91
the UI looks flaky , it shows UI for logged out first and then shows up for logged in. Anything to sort out that ?

[2017-10-15 01:05] Gauravshah commented on #40
@neroniaky is there a way to force localStorage of `currentUserData` ? I do not see a reason not to store it. The UI looks flaky when it shows logged out first, then in a second it shows "Gaurav".
Showing logged-in validating token and logging-out user still looks ok
But showing logged-out , validating and then logging-in suddenly looks strange

[2017-10-20 21:29] rmcsharry commented on #309
It would be awesome if this branch could be merged, interceptors are awesome! :)

[2017-10-21 14:44] neroniaky commented on #340
@chadnaylor would be really nice if you could make it a PR! 😄

[2017-10-23 23:51] chadnaylor commented on #340
Okay! This week looks a bit crazy for me, but I will try to get to it this weekend.

[2017-10-27 00:48] tomfloresa commented on #329
It seems that your sevice is unable to acces the authToken config. Try to add in your service's constructor the validateTokenPath property.

``
      this._auth.init({
        validateTokenPath: 'PATH-TO-VALIDATION'
      });
``

[2017-10-27 11:46] #329 closed

[2017-10-30 16:38] DylanRothko opened #355 "http methods return 401"
Hey everyone, I have a little bit of a brain burner.  I'm newer to TypeScript and Angulr2/4 but I do have a lot of years of Vanilla JS and Angular 1x experience.  Im trying to use this in an angular4 app with a lot of modules.  I can successfully authenticate a user, validate their token etc but when i use the _tokenService.http methods it always returns unauthorized.

My api is built with Ruby on

[2017-10-30 21:46] DylanRothko commented on #355
Found the issue on my api's end.  marking as closed.

[2017-10-30 21:46] #355 closed

[2017-11-01 22:50] chadnaylor commented on #340
@neroniaky pull req'd!

[2017-11-05 03:26] venomoustoad opened #370 "No provider for Http! when I upgdate to Angular 4 and update libraries"
So I am in the process of upgrading my app to angular 4, I guess this is a library related issue? I used to import from @angular/http earlier. Now, I use @angular/common/http. Do I need to separately include more libraries for this to work? What am I missing here?

I get the following error:
[code]
**My app.module.ts file**
[code]
**My file.component.ts**
[code]
**My package.json**
[code]

[2017-11-05 18:47] dsvishchov opened #371 "Local storage not updated after call to processOAuthCallback"
When using oAuth flow within the same window after successful auth local storage is not updated.

Followed instructions and see that _currentAuthData_ has proper values from URL, however there is no call to _setAuthData_ inside _getAuthDataFromParams_ according to the source code. Therefore when making a request to let's say _validateToken_ it's not working (since technically it calls _request_ an

[2017-11-07 07:23] neroniaky commented on #370
Hey @venomoustoad! Angular2-Token doesn’t support HttpClientModule yet. You need to import HttpModule instead.

[2017-11-14 02:09] #370 closed

[2017-11-17 00:05] raysuelzer opened #375 "Please update to support angular5"
The package works fine with angular5, but shows peer dependency issues.

![image](https://user-images.githubusercontent.com/1176341/32922621-e7ef17ca-cae7-11e7-8dde-9d7de79bc3f6.png)

[2017-12-07 09:40] tomuench commented on #198
i had the same problem with a rails api. I couldn't run my app with a proxy, so i have digged a bit deeper.

My Solution was, to allow the used headers explicit.
Example:
`    resource '*',
             headers: :any,
             methods: %i[get post put patch delete options head],
             :expose => ['access-token', 'client', 'expiry','token-type', 'uid']`

Hope this helpes somebody in the

[2017-12-09 21:28] izambard commented on #231
I found a much easier solution. Just extend the base UserData interface:

[code]

You then use the MyUserData type in your components.

[2017-12-15 03:41] raysuelzer opened #380 "Is this library being maintained?"

[2017-12-15 03:43] raysuelzer commented on #184
Could the library safely replace double slashes after the protocol? `//` => `/`?  Not sure of a use case when you would have double slashes in a URL or if this is defined in a standard someplace as legal.

[2017-12-19 14:55] DRSisco commented on #231
@izambard that should be the correct solution here, and no edit to the repo should be required to allow users to modify the userData type for their scenario.

If this could be added to the readme or be documented in some way, that would be great.

[2017-12-21 02:38] NaraR2 commented on #309
Any advance on this? Will be really good to have this merged.

[2017-12-21 20:49] okodo opened #382 "getAuthDataFromParams call in tryLoadAuthData does not work"
In
[code]
you have
[code]

But the method "getAuthDataFromParams()" uses "this.activatedRoute.queryParams.subscribe...." (so observable)

And therefore the next condition "if (this.atCurrentAuthData)" in tryLoadAuthData is always "false"!

It is impossible to login the user within queryParams. But it is necessary!

Example: Reset password
- Mailer sends me a link to backend
- Backend redirects me

[2017-12-24 22:34] tomfloresa commented on #113
Hi! Is someone still having this issue? I'm working on a RoR BackEnd and it is generating the token. Angular (or A2T) is also setting it in the local storage as I'm capable of seeing it in the Application tab on DevTools. Thing is that `userSignedIn` always returns false. Thanks!

[2018-01-03 19:53] neroniaky commented on #380
Hey @raysuelzer, just published 0.2.0-beta.13 which works with Angular 5.0. Sorry for the delay.

[2018-01-03 19:53] #380 closed

[2018-01-03 19:53] neroniaky commented on #375
Hey @raysuelzer, just published 0.2.0-beta.13 which works with Angular 5.0. Sorry for the delay.

[2018-01-03 19:53] #375 closed

[2018-01-04 13:01] zoamel opened #396 "Errors after upgrading to beta.13"
After upgrading this library to the newest version I started getting errors like that:

[code]

I am using this version of angular-related libs:
[code]

Any idea what can cause this errors?

[2018-01-04 13:17] douglasward commented on #396
the whole `lib` folder doesn't get installed for `beta.13`. For `beta.12` it does.

[2018-01-04 13:36] lthomaz commented on #396
`beta.12` does not install `lib` folder too.

[2018-01-04 15:35] neroniaky commented on #396
Thanks for reporting. Gonna take a look at it later today.

[2018-01-04 20:38] neroniaky commented on #396
Just published beta.14 for which I changed the build system for.  The problem should be fixed now.

[2018-01-04 21:47] zoamel commented on #396
Working perfectly now for me, thank you 👍

[2018-01-05 10:45] dikey94 commented on #309
guys, any progress in the topic?

[2018-01-05 13:08] #396 closed

[2018-01-09 14:48] douglasward commented on #382
Just ran into this as well. Any idea when this will be fixed?

[2018-01-09 14:52] douglasward commented on #380
Hey @raysuelzer, why is this issue closed? I'm not sure the question has been answered yet - is this library still being actively maintained? Or planned to be? Many thanks in advance.

[2018-01-13 02:07] FeloVilches opened #401 "Impossible to get user data"
If the user is logged, it will access this if block. But also there's no data because it probably hasn't loaded yet, so it will print undefined.

[code]

[2018-01-13 02:34] FeloVilches commented on #401
It seems the only possible way to get the user data when I need it is by calling validateToken *again* and subscribe to it.

[2018-01-14 14:39] jefree commented on #113
Hi everyone, i'm getting this same issue, has anyone found any solution to this already ? Thnks.

[2018-01-14 16:46] jefree commented on #113
The problem seems to be in the auth data field names the service try to get from the headers, in my case the names don't match, i.e. i'm getting `access-token` but service looks for `token` or `auth_token`. Should we change the names the service is looking for or add some kind of configuration for these names ?

[2018-01-14 18:02] jefree commented on #113
For me, the solution was to expose the headers as suggested [here](https://github.com/lynndylanhurley/devise_token_auth#cors), due to i'm running the backend and front as separated apps.

[2018-01-17 14:41] brunoluigi commented on #157
Folks, started dealing with this issue in the PR #402 but I need some help with some design issues, mainly how to treat this custom field in the other flows such as register, password recovery, etc

[2018-01-19 10:26] minhthuan274 commented on #309
Any update ?

[2018-01-22 16:46] glebmachine commented on #309
up?

[2018-01-25 05:01] timorthi commented on #309
AFAIK, nobody is working on this right now. @NaraR2 @minhthuan274 @glebmachine

[2018-01-29 12:49] glebmachine opened #406 "request method don't conform to http.request method."
https://github.com/neroniaky/angular2-token/blob/3cdfb78686397591db0a8d620dccc14fb4369b27/src/angular2-token.service.ts#L366

Angular Http Service request method:
[code]

Your request method:
[code]

That's weird proxy =)

[2018-02-14 16:57] sgruhier commented on #406
the worst part of request is the call to `this.handleResponse(response);` that subscribes to the observable. Very bad practice. This is why I stop using this project. I even tried to override some methods but they are private. :(

[2018-02-20 05:02] shivabhusal opened #411 "angular2-token cannot read 'access-token' header from response"
Hi I am using `angular2-token` along with `devise_token_auth` gem. Server side is found to be sending token and related info in headers, but the client side could not parse the token from response.

[code]
and in the `debugger` breakpoint, I found
[code]
![image](https://user-images.githubusercontent.com/8004593/36408017-d07aacec-162a-11e8-97eb-a423191ef419.png)

also

[code]

Response headers are

[2018-02-28 16:26] dduft commented on #411
Have a look at your rack-cors initializer. Make extra sure that the Access-Control-Expose-Headers includes access-token, expiry, token-type, uid, and client.
[https://github.com/lynndylanhurley/devise_token_auth#cors](https://github.com/lynndylanhurley/devise_token_auth#cors)

[2018-03-02 04:07] shivabhusal commented on #411
it works, thanks

[2018-03-02 04:07] #411 closed

[2018-03-02 05:04] penguinwokrs commented on #340
I want to avoid ion dependence of angular2-token. 😢

https://github.com/neroniaky/angular2-token/pull/364/files#diff-b9cfc7f2cdf78a7f4b91a753d10865a2R69

[2018-03-05 15:04] sgruhier commented on #406
I switched to a custom, home made solution. I wanted to contribute more to that project, but hard to get time for that :(

[2018-03-07 17:35] devsparkles commented on #370
When it will support it ?

[2018-03-15 20:41] dustinblanchard commented on #275
Did anybody find a way to fix this? I'm having this error now.

[2018-03-18 20:21] colmben commented on #309
Just for the sake of people commenting asking for the branch to be merged, there is no actual new code in the branch! All it has is a tweak to the Readme saying the branch is experimenting with HttpClient :(

With HttpModule now deprecated, this service really needs to move to HttpClient at some point. It gives a huge advantage in that we could use interceptors to stop wrapping the http methods an

[2018-03-27 15:26] gustavogsimas commented on #145
@VadymBoguslavsky Did you find a fix?

[2018-03-27 15:31] VadymBoguslavsky commented on #145
Sorry, but no, i've lost that project already.
I have used doorkeeper as i remember it right.

Вт, 27 бер. 2018, 18:26 користувач Gustavo Gabriel <notifications@github.com>
пише:

[2018-03-27 16:09] gustavogsimas commented on #145
Ok, I managed to make it work finally. My problem was that the front-end was not passing the headers to the backend, so I made an interceptor based on [this](https://stackoverflow.com/questions/45552677/interceptor-angular-4-3-set-multiple-headers-on-the-cloned-request).

`

    import {
      HttpEvent,
      HttpInterceptor,
      HttpHandler,
      HttpRequest,
      HttpHeaders
    } from '@an

[2018-04-01 15:19] dks17 opened #416 "Live demo is not working"
It was found here:
[Clean readme & move doc](https://github.com/lynndylanhurley/devise_token_auth/pull/1129)

[2018-04-07 23:28] ThiagoRodrigues commented on #145
@gustavogsimas, I've got the same problem as you! I think your solution will help me a lot.
many thanks.

[2018-04-16 20:36] rmcsharry commented on #275
Also getting exact same error. Reset password flow only works if the user is logged in, exactly as @IrtazaSafi reported above.

[2018-04-16 21:16] IrtazaSafi commented on #275
This is how I managed to reset when the user is logged out:

https://paste.ofcode.org/RgZYFBZunbKUJMFi5u3AFL

[2018-04-17 02:03] IrtazaSafi commented on #275
<img width="790" alt="screen shot 2018-04-16 at 10 02 54 pm" src="https://user-images.githubusercontent.com/7645974/38844560-fe288f48-41c1-11e8-8d15-3c5c32039280.png">

[2018-04-17 14:47] colmben commented on #205
Thanks for that Ben. The problem is I'm using UI Rotuer 2 and it doesn't easily have a mechanism for accessing a query before the hash. I ended up using url-parser (https://github.com/unshiftio/url-parse) like this:

[code]

Note that the true in  new urlParse(window.location.href, true) is vital as it says to parse the query string into an object, so you can do url.query.token. Without that flag

[2018-04-17 18:44] colmben commented on #205
OK, turns out that isn't enough. as cbey discovered earlier in the thread, update password needs the auth headers in the request, which is why they are included in the redirected url from devise token auth. I am using my own fork of this lib that uses HTTPClient and interceptors, so I'll probably just modify the code there to extract the headers from the query strings and send the password update

[2018-04-17 20:44] colmben commented on #205
I've made the changes in my fork and the forgot password flow is now working. Briefly, I changed getAuthDataFromParams in tryLoadAuthData to use url-parse instead of relying on activatedRoute to parse the url. I then called tryLoadAuthData inside the update password call.

Based on that, it looks like just calling tryLoadAuthData from within update password might work for the master branch.

For t

[2018-04-17 21:15] colmben commented on #382
I may be misreading the code, but I think whatever issue you are facing is not related to the validateToken not being called because in fact validateToken is also an observable and without a subscribe the call `this.validateToken` does nothing!

Note also that from looking at the code, the tryLoadAuthData is only called once, on init, so it isn't doing whatever you think it should be doing.

[2018-04-17 22:04] michaelharris7 commented on #162
I don't see how this is working. I can save the email and password just fine as it should work, but I can't save the name field that should be included and I can't save any newer customized registration fields like full_name.

It doesn't give me an error and the console looks like it saves just fine, but when I check the User account in my rails console, it shows nil for full_name.

[2018-04-18 19:18] rmcsharry commented on #275
@IrtazaSafi Thanks for posting that, which is almost identical to the code I already have, which only works if the user is logged in.

resetData does not look correct - the updatePassword method of the library accepts type `UpdatePasswordData` which looks like this:

[code]
It seems odd to me that you also have 'token' as another property, with the same params['token'] in it. I am betting that Rai

[2018-04-18 19:26] rmcsharry commented on #275
As an example here is my code after I've called reset.

This is the form - email field is disabled so user cannot change it and resetPasswordToken is hidden.

[code]
And this is what happens when the user clicks submit:

[code]

[2018-04-24 11:34] jvkiran opened #419 "How do i access currentUserData, after facbook login?"
Gettting currentAuthData, but currentUserData is undefined.

[code]

[2018-04-25 03:54] mattsketchy commented on #3
thanks @neroniaky for your answer!!

[2018-04-25 10:51] rmcsharry commented on #275
I think (but am not sure) that previously my `resetPasswordCallback` may have been wrong. I've just been through everything again and the only code I changed was that (so that the the redirect_url sent to the api is correct):

[code]
resetPasswordCallback defaults to window.location.href - so will almost certainly be incorrect for most people.

Now when resetPassword is called the data sent is:

[

[2018-05-02 20:56] saransh944 commented on #113
@rafaelss95 use .map instead of using subscribe and return it, something like this:

return this.tokenService.signIn({
  email:    'example@example.org',
  password: 'secretPassword'
}).map(data => {
  console.log(data);
// your if conditions inside this
});

[2018-05-05 20:01] raysuelzer opened #421 "Do you need maintainers?"
It would be nice to keep this package up to date with the latest version of angular. I am willing to help maintain this package.

[2018-05-06 19:38] neroniaky commented on #421
Hey @raysuelzer thanks for your offer. I hope I can get some work done in the next seven days, if not we should talk 😃.

[2018-05-06 23:25] rmcsharry commented on #156
Another - and more secure - option is after you submit the new email to the server, have the server send a confirmation email to that new address. When the request completes in Angular, call the Token2 logout method, which will destroy all the values in local storage.

Obviously provide a message to the user that they will be logged out and must confirm their new email address from the new inbox.

[2018-05-07 07:18] arjenbrandenburgh commented on #421
Also willing to help with maintaining this project.

[2018-05-09 18:27] raysuelzer commented on #421
Specifically, would be great to move to rxjs6 so that we don't need to have the compat package installed for it to work.

[2018-05-10 21:18] raysuelzer opened #422 "Greenkeeper node versions"
You probably only need to test the Greenkeeper builds on Node 8, which is now the only version supported by the Angular CLI.

[2018-05-12 09:12] neroniaky commented on #421
@raysuelzer, @arjenbrandenburgh gonna add you as collaborator. Thanks!

[2018-05-12 09:12] #421 closed

[2018-05-12 09:30] neroniaky opened #425 "Rename Angular2-Token to Angular-Token"
All Angular versions > 2.0 should be named "Angular" instead of "Angular2".

- [x] Rename Github Repo
- [x] Rename NPM Package
- [x] Rename Module and Service

[2018-05-12 09:33] #422 closed

[2018-05-14 12:53] betosalvador opened #427 "Compatibility with Angular 6"
Hi Folks

I will start a new angular project in the next month and I would like to know if the current version of Angular2-Token is fully compatibible with angular 6.

Angular 6 changed the http from "@angular/http" to "@angular/common/http" and I'm afraid.

Is better to keep with Angular 5 instead?

thanks a lot!

[2018-05-14 18:29] raysuelzer commented on #427
It works with Angular 6.  However, hopefully this package will be updated soon to take advantage of the new features and rxjs6.

[2018-05-14 18:37] raysuelzer commented on #425
Is this something that you want to do before releasing your updates for v6? I can help with with `rename module and service.`

[2018-05-16 08:36] arjenbrandenburgh commented on #421
Is there somewhere we can discuss internally?

[2018-05-16 12:39] betosalvador commented on #427
Ok @raysuelzer , I'll do this!

Thanks again :)

[2018-05-17 17:05] neroniaky commented on #425
Im not sure how to migrate best. Biggest Problem ist the Service name change because it’s not backwards compatible. According to Semver it should be 1.0.0, but I don’t know if we are there yet.

[2018-05-17 17:06] neroniaky commented on #421
I was thinking either Discord or Gitter, not familiar with Slack. Do you have a suggestion?

[2018-05-18 10:16] arjenbrandenburgh commented on #421
My preference is Slack, since I already have that running anyway most of the time.
But can also make a habit of opening Discord more often.

[2018-05-18 20:11] dks17 opened #434 "Can't build package is installed from Github"
[code]

[2018-05-20 23:08] betosalvador commented on #137
Hello, @neroniaky

I have a similar problem.

Just like you said.

I have one Users table in my api, but each user has one role.

There is any way to keep this role in the session?

I need this to show or hide some elements on the page (like an authorize process).

THank you very much

[2018-05-21 12:17] betosalvador opened #435 "How to implement role authorization"
Hello, everyone.

First of all, thanks so much for this amazing plugin.

I have one Users table in my api, but each user has one role.

There is any way to keep this role in the browser session (front-end)?

I need this to show or hide some elements on the page (like an authorization).

Or there is a better way to do this (authorization for elements on page and routes)?

Thanks in advance!

[2018-05-21 18:16] raysuelzer commented on #425
I'm not quiet clear on the issue?  You could fork into a new repo for angular 5+?  Personally, I think it might make sense to release a 1.0.0 as a lot of people are already using this library and those who are still on Angular2 can continue to use the beta package.

[2018-05-23 14:00] zamzam commented on #401
If init() could return an observable or something subscribable would be great, because right now you have to do 2 calls or retrieve data from localstorage manually

[2018-05-26 07:04] neroniaky commented on #421
Just created a Slack Workspace - [Invitation Link](https://join.slack.com/t/angulartoken/shared_invite/enQtMzcwNzQyNjUxNzE0LWNjMWU1ZWE5MmJiMTQ2MTQwMjM5ZWM5OWIzNDAwNjAyNjdhN2Q2ZTQ4MWY1YjQyMjdmNDU2MzVkZTQyYzAyNjg). Feel free to join.

[2018-05-30 21:04] betosalvador commented on #435
There is a correct way to implement authorizations with angular2-token?

[2018-05-31 17:51] raysuelzer commented on #435
You should be able to get this data like this...

[code]

[2018-05-31 17:52] raysuelzer commented on #435
I use a structural directive like  <div *ifInRole=" 'Admin' " > ... </div>

[2018-06-01 10:20] arjenbrandenburgh commented on #137
This was answered in #435

[2018-06-01 10:22] arjenbrandenburgh commented on #419
Is there anything in currentUserData?

[2018-06-02 08:30] neroniaky commented on #421
@raysuelzer you want to to join as well?

[2018-06-06 14:43] acegilz opened #441 "npm WARN angular2-token@0.2.0-beta.14 requires a peer of @angular/common@^5.0.0 but none is installed. You must install peer dependencies yourself."
I am trying to update to angular 6, I think the package angular2-token is updated, however, this error keeps popping up:

`npm WARN angular2-token@0.2.0-beta.14 requires a peer of @angular/common@^5.0.0 but none is installed. You must install peer dependencies yourself.`

I see the last change on this repo was precisely update dependencies:

"@angular ...... ": ">=5", from
"@angular ....": ^5.0.0

[2018-06-07 18:40] acegilz commented on #66
thanks!

[2018-06-13 21:42] raysuelzer commented on #425
Any thoughts on this? Would be nice to not have to use rxjscompat.

[2018-06-14 07:16] arjenbrandenburgh commented on #421
@raysuelzer, can you join us on Slack?

[2018-06-16 10:03] neroniaky commented on #441
Thanks for reporting. Should be fixed with version 0.2.0 now.

[2018-06-16 10:04] neroniaky commented on #434
Could you try again? Should be fixed by now.

[2018-06-16 10:05] neroniaky commented on #425
@raysuelzer 0.2.0 implements RxJS 6.0 support. Could you give it a try?

[2018-06-18 04:10] penguinwokrs commented on #425
@neroniaky Hello
Will Anuglar 5 + be developed as a separate repository?

[2018-06-18 16:30] proxygear opened #445 "tests failing : `ERROR in [at-loader] TS2688: Cannot find type definition file for 'source-map'.`"
Hello,

I tried to run the tests : `npm test`
I get this error :

[code]

For info, but I don't know if it would help : `npm -v => 5.6.0`

I think it's more a dependency question ?

[2018-06-18 16:32] proxygear commented on #309
Hi,
I'm thinking about working on this, at least trying :)

However, after cloning, I wasn't able the run test : https://github.com/neroniaky/angular2-token/issues/445

[2018-06-18 19:49] arjenbrandenburgh commented on #309
@neroniaky and I are currently working on a version with HttpClient support and HttpInterceptors. Give us a few more days before we can release an alpha.

[2018-06-18 19:57] colmben commented on #309
I have a working version on my fork if you want to have a look.

On Mon, 18 Jun 2018, 20:49 Arjen Brandenburgh, <notifications@github.com>
wrote:

[2018-06-18 19:59] colmben commented on #309
Branch feature/httpClient

[2018-06-18 20:03] arjenbrandenburgh commented on #309
Initial version is now in branch 6.x

[2018-06-20 06:16] neroniaky commented on #445
Sorry I can’t reproduce the error. Works for me locally and for the CI.

Don’t know how to get tid if this yet:

DeprecationWarning: Tapable.plugin is deprecated. Use new API on `.hooks` instead

[2018-06-20 06:27] neroniaky commented on #136
Should be fixed in version 6.0 with the use of interceptors. Please reopen if still an issue.

[2018-06-20 06:27] #136 closed

[2018-06-22 09:29] neroniaky commented on #425
@penguinwokrs we're not 100% sure yet, but I don't think we gonna split repos.

[2018-06-25 10:58] piotrpietrusewicz opened #452 "Error validateTokenPath of undefined on Ionic 3"
Hi,
I have error

Stack

- Ionic 3.9.2

- Angular 5.2.9

- angular2-token

I have this.auth.init({ validateTokenAuth: 'PATH' }) and still throw error.
Do you have any suggestions what am I doing wrong ? Maybe incompatibility stack versions with angular2-token package ?

THX.

[2018-06-25 19:54] NiekPas commented on #136
@neroniaky I'm still having the same issue on `angular@6.0.6` and `angular2-token@0.2.0`

[2018-06-26 06:12] arjenbrandenburgh commented on #136
@NiekPas, he means using version 6.0.0-rc.0 of angular-token

https://github.com/neroniaky/angular2-token/tree/6.x
https://www.npmjs.com/package/angular-token

[2018-06-28 14:29] xthilakx commented on #425
@neroniaky Is there anything I could do to help?

[2018-06-29 09:46] NiekPas opened #453 "angular-token@6.0.0 not working with FormData: Bad Request"
(Following up from #136)

After migrating to `angular-token@6.0.0-rc.0`, I'm still having issues with FormData requests to a Rails API backend. Using `angular2-token@0.2.0`, the issue was the absence of the FormData payload (see #136); now, the issue seems to be a malformed request.

**Sample code:**

    let formData = new FormData();
    formData.append('news_item', JSON.stringify(this.newsItem)

[2018-06-30 13:06] neroniaky commented on #425
@xthilakx it would be nice if you could take a look at the README for the 6.0.0 branch an see if I missed anything, like still having `angular2` there.

[2018-07-01 17:28] joshuapinter commented on #184
Great question. What is the standard practice for URLs or paths that are constants? Do they include trailing slashes or not?

[2018-07-02 15:59] NiekPas opened #454 "angular-token@6.0.0 checks wrong configuration variable"
I'm implementing `angular-token@6.0.0-rc.0` and keep getting `401 Unauthorized` reponses. After some digging, I found out the auth headers are never sent along with a request. After more digging, I found out this happened because [the following block](https://github.com/neroniaky/angular2-token/blob/6.x/projects/angular-token/src/lib/angular-token.interceptor.ts#L24) is never reached:

    // Add

[2018-07-03 07:44] arjenbrandenburgh commented on #454
You can open a PR for this. Haven't checked yet, but seems you're right.

[2018-07-03 18:13] raysuelzer commented on #425
@neroniaky  the 6.0 version is working great. I followed the readme on there to upgrade, it was smooth.

[2018-07-08 21:55] megetron opened #456 "angular2-token with systemJS and angular5"
hey there,
I consider using the angular2-token and having a problem makes it works on my current project which uses systemJS and angular 5.
this is what I have in my config.js file:
'angular2-token': 'node_modules/angular2-token/bundles/angular2-token.umd.min.js',
and this is the version on package.json:
"angular2-token": "^0.2.0"

Here is the error:

[code]

Is there any setup instructions I can

[2018-07-13 12:37] betosalvador commented on #435
Hello @raysuelzer

sorry for my late response

Thank you very much for suggestion

[2018-07-13 19:19] betosalvador opened #457 "Token is lost when run multiple refreshs (in different tabs)"
Hello

When I do multiple refreshs in different tabs, the token is lost and I receive a "unauthenticated" status from server.

This is a correct behavior?

I have a page that must be refeshed after 5 seconds in loop.

And this problem occurs when I have more than one tab in this same page.

THanks in advance!

[2018-07-15 12:01] neroniaky commented on #435
Please reopen if you have any questions left.

[2018-07-15 12:01] #435 closed

[2018-07-15 12:37] neroniaky commented on #454
Thanks!

[2018-07-15 12:37] #454 closed

[2018-07-17 02:30] acegilz opened #458 "Several issues with Angular 6 "Migration""
I followed this tutorial to upgrade to angular-token: https://github.com/neroniaky/angular2-token/wiki/Migrate-to-Angular-Token-6.0

However, I verify that there are missing steps and also the integration is not that "smooth".

Let me point out some issues Im facing:

- Login and Register interface changed from "email" to "login"

[code]
- The signin remains successful with backend because it does

[2018-07-17 06:56] arjenbrandenburgh commented on #458
Hey. Thanks for bringing issues to our attention. We're in the process of moving to HttpInterceptors, but we're not done yet. Trying to get as many kinks out of the cable as possible.

The change in naming to the backend of the login field can be changed by the `loginField` configuration. Please refer to the [Configuration](https://github.com/neroniaky/angular2-token/wiki/Configuration). So basica

[2018-07-17 07:02] arjenbrandenburgh commented on #147
This is fixed in version 6 onward.

[2018-07-17 07:02] #147 closed

[2018-07-17 19:21] arjenbrandenburgh commented on #457
Do you experience this issue with the 6.0.0-rc.2 version?

[2018-07-17 19:23] arjenbrandenburgh commented on #456
Please check this issue: https://github.com/neroniaky/angular2-token/issues/71
Maybe that can solve your issues?

[2018-07-17 21:03] acegilz commented on #458
Can you please elaborate a complete tutorial for the new version?

I'm having issues putting this new version working. The registration and login works but the login never returns true with `this.authToken.userSignedIn();` .

I used the angular2-token version without issues, this update was the worst idea I had..

Thanks for your quick reply btw 👍

[2018-07-18 09:49] arjenbrandenburgh commented on #458
With HttpClient, you no longer automatically get the status back. Why would you want to check the status?

If you want to handle errors, you should resolve it like this:
[code]
You can still check ```res['success']``` if you want to check whether it was succesfull.

Do I understand from your previous post that your issues have been fixed?

[2018-07-18 11:59] arjenbrandenburgh commented on #453
Has this been solved in version 6.0.0-rc.2?

[2018-07-18 14:12] #309 closed

[2018-07-18 14:14] #66 closed

[2018-07-20 06:27] neroniaky commented on #16
Fixed with 6.0

[2018-07-20 06:27] #16 closed

[2018-07-20 06:29] neroniaky commented on #157
Fixed in 6.0.

[2018-07-20 06:29] #157 closed

[2018-07-20 14:34] arjenbrandenburgh commented on #435
To complete this answer, my current implementation of an *ifInRole directive is as follows:
[code]

[2018-07-20 16:54] Awatatah opened #459 "How to delete/add headers on HTTP Service Wrapper"
Hello. So lets say I set the `globalOptions` to below:
[code]
and I need to use the **HTTP Service Wrapper** to execute a `post`,
How do I `delete` the "Content-Type" header only and preserve the rest?
I need to do this so my API will accept the formdata

[2018-07-21 16:59] neroniaky commented on #459
Hey @Awatatah, thanks for your feedback. You can take a look at version 6.0, which uses interceptors which let you set the headers yourself. We're currently working on removing globalOptions entirely, because they should't be necessary with interceptors anymore.

[2018-07-21 17:00] neroniaky commented on #458
@acegilz I added an additional step for the migration tutorial, which explains the 'login' field.

[2018-07-21 17:06] neroniaky commented on #171
Fixed in version 6.0. Thank you for your feedback!

[2018-07-21 17:06] #171 closed

[2018-07-22 01:30] acegilz commented on #458
@arjenbrandenburgh thanks for the clarification. In fact I don't need to check the status that way, I just saw it many times, including on templates and also several tutorials and the truth is that it worked there (registration module) until I updated this package to the new version and angular to 6, so I don't know why exactly it stopped worked but no problem because the res already passes the su

[2018-07-22 08:48] neroniaky commented on #155
You can set signInRedirect() for an automatic redirect.

[2018-07-22 08:48] #155 closed

[2018-07-22 13:02] betosalvador commented on #457
Hi @arjenbrandenburgh

I will do this updates that you recomended and post a feedback
thanks

[2018-07-23 05:37] #441 closed

[2018-07-24 13:10] NiekPas commented on #453
No, but it has been in 6.0.0-rc.3! :tada:

[2018-07-24 13:10] #453 closed

[2018-07-25 16:03] jassok commented on #457
I'm running to a similar issue running 6.0.0-rc.4 and angular 6.0.3.

Session is lost after a refresh and I need to run `.validateToken()` to require it. May be unrelated, but I'm also seeing that if a token expires, you can still pass the auth guards, even if `validateToken()` returns a 401.

My plan for now is to just run a validation check on init.

[2018-08-10 07:01] sflang1 opened #460 "Not setting the authenticated values successfully"
## I'm submitting a...

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [x] Bug report
- [ ] Performance issue
- [ ] Feature request
- [ ] Documentation issue or request
- [ ] Other... Please describe:

## Current behavior
Good morning! I'm working on a Angular - Ruby interaction, and I'm trying to get my authentication to work. By now, I know that if I perfo

[2018-08-10 07:35] #460 closed

[2018-08-10 07:36] sflang1 commented on #460
I realized the trouble's solution was in the common problems. I'm so sorry

[2018-08-10 19:29] neroniaky commented on #460
Thanks for taking the time to fill out the the bug report this detailed :)!

[2018-08-15 06:43] Grafexy opened #462 "RegisterAccount not sending same data"
## I'm submitting a...
- [x] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [ ] Performance issue
- [ ] Feature request
- [ ] Documentation issue or request
- [ ] Other... Please describe:

## Current behavior

[code]

but it will send only

[code]

https://github.com/neroniaky/angular-token/blob/master/projects/angular-token/src/lib/angular-token

[2018-08-22 14:37] krystian50 opened #465 "signIn - wrong headers"
## I'm submitting a...

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [x] Bug report
- [ ] Performance issue
- [ ] Feature request
- [ ] Documentation issue or request
- [ ] Other... Please describe:

## Current behavior

Currently sign_in request set up wrong header:
`Accept: application/json, text/plain, */*`

As the result API returns 422 HTTP code and c

[2018-08-22 15:16] arjenbrandenburgh commented on #465
As far as I'm aware, we don't set the 'Accept'-header in this library. Since we're using HTTP Interceptors where we simply add headers, it seems the header you're referring to either comes from somewhere in your own code or is default.

In version 0.2.0 we used to have the option to set default headers for these requests, but we needed that since the library was a wrapper around the HttpModule. In

[2018-08-25 18:44] acegilz opened #466 "userSignedIn() returns true even with expired/invalid token"
## I'm submitting a...

- [x] Other... Please describe:

## Current behavior
I use the UserSignedin() to detect if the user is signed in:

[code]

However sometimes after several minutes of login/calls I start receiving 401 errors from the backend, and I conclude that somehow angular-token is assuming it's logged in but don't accepted on the backed.

I am pretty sure this is a bug, but I would lik

[2018-08-26 09:52] arjenbrandenburgh commented on #466
You can try to set the option `signOutFailedValidate` to `true`.
This way, when a vaildateToken fails, the frontend will also assume it's not signed in

[2018-08-26 11:53] acegilz commented on #466
@arjenbrandenburgh thanks, that behavior should be perfect.

[2018-08-27 17:37] misham opened #467 "Not setting apiBase in the interceptor?"
## I'm submitting a...

- [x] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [ ] Performance issue
- [ ] Feature request
- [ ] Documentation issue or request
- [ ] Other... Please describe:

## Current behavior
With the apiBase set, it's not prepending it to the path in HTTP calls.  E.g. if I call `this.http.get('foo').subscribe(...)` I see a call

[2018-08-27 17:38] misham commented on #467
One other update, `sign in` & `sign out` plus all the "built-in" functions around auth work just fine.  Only the interceptor is not working for some reason.

[2018-08-27 18:11] xthilakx opened #468 "Docs: Incorrect function signature for resetPassword method"
## I'm submitting a...

- [x] Documentation issue or request

## Current behavior
Doc for [Session Management Reset Password](https://github.com/neroniaky/angular-token/wiki/session-management#resetpassword
) says:
`resetPassword({email: string, userType?: string}): Observable<Response>`

### Example
[code]
but [interface ResetPasswordData](https://github.com/neroniaky/angular-token/blob/master/pr

[2018-08-27 18:12] neroniaky commented on #468
Good find! You want to create a PR?

[2018-08-27 18:55] arjenbrandenburgh commented on #467
The idea of an interceptor isn't to modify where a call is going, but to add the login headers (if applicable). If we would add the apiBase to each and every call, your application wouldn't be able to send data to other servers.

In the old angular-token version (0.2.0) we knew 100% that a call would have to go to the same server, since it was a wrapper around the HttpModule (or HttpClientModule).

[2018-08-27 19:06] xthilakx commented on #468
@neroniaky Sure!

[2018-08-28 06:32] neroniaky commented on #468
Forgot that the docs are a wiki now, so no PR. Changed it. Thanks!

[2018-08-28 06:32] #468 closed

[2018-08-28 11:44] neroniaky commented on #462
Fix got merged and published in Version 6.0.2. Please reopen if problem still persists.

[2018-08-28 11:44] #462 closed

[2018-08-28 11:46] neroniaky commented on #406
Fixed with v6.x and the use of interceptors.

[2018-08-28 11:46] #406 closed

[2018-08-28 11:48] #303 closed

[2018-08-28 11:50] neroniaky commented on #425
Done! 🎉

[2018-08-28 11:50] #425 closed

[2018-08-29 09:29] arjenbrandenburgh commented on #467
Closing this issue. If you feel this is still a bug or shortcoming, feel free to re-open.

[2018-08-29 09:29] #467 closed

[2018-08-29 09:30] arjenbrandenburgh commented on #466
Closing this issue.
If this issue still persists, feel free to re-open.

[2018-08-29 09:30] arjenbrandenburgh commented on #465
Closing this issue. If you still feel this is a bug or shortcoming, feel free to re-open.

[2018-08-29 09:30] #465 closed

[2018-08-29 10:04] neroniaky commented on #459
Fixed with Version 6.x. Feel free to reopen.

[2018-08-29 10:04] #459 closed

[2018-08-31 02:31] acegilz commented on #466
This solution is not working, it returns 401 and still don't officially logout (clear localstorage things etc)
The reason why it logs out it's also uncertain, I think it may be related with this issue: https://github.com/neroniaky/angular-token/issues/457

[2018-08-31 03:15] acegilz commented on #466
[Image](https://imgur.com/a/2BEng1E)

[2018-08-31 03:16] acegilz commented on #466
<img width="296" alt="screenshot 2018-08-31 04 14 22" src="https://user-images.githubusercontent.com/4284362/44890928-994ffb00-acd4-11e8-8aea-57155302513e.png">
<img width="825" alt="screenshot 2018-08-31 04 13 57" src="https://user-images.githubusercontent.com/4284362/44890929-994ffb00-acd4-11e8-9603-52a321ea26a0.png">

[2018-08-31 08:55] Grafexy commented on #466
it's not signing out because of

https://github.com/neroniaky/angular-token/blob/master/projects/angular-token/src/lib/angular-token.service.ts#L251

it is calling signOut function, but signOut will return observer and it will not run because nothing is subscribed to it

[2018-08-31 23:12] acegilz commented on #466
Yes, it makes sense now...

I'll try to find another way to fix this issue and also why it logs out in the first place

[2018-08-31 23:29] neroniaky commented on #466
@Grafexy Good catch 👍

[2018-09-01 11:26] misham commented on #467
The source of confusion for me was that the migration docs didn't say anything about that, so that was rather a surprise to debug this problem.

Also, what's the config `apiBase` used for now?  Is it just for the auth paths?

[2018-09-01 14:13] zinderud commented on #466
my solution
[code]

[2018-09-01 20:07] acegilz commented on #466
@zinderud where / when / what frequency do you call it?

[2018-09-01 20:48] zinderud commented on #466
my usage

[code]

[2018-09-02 07:04] neroniaky commented on #467
@misham we definitely need to add this to the docs. Haven't found time yet. Sorry for the confusion!

[2018-09-02 08:04] acegilz opened #469 "Forgot Password Flow"
I have a first page to input user email, then an email is generated with a link / token.

I am not sure what can I do now with that. From the documentation I understand that I should set some headers and make a PUT request:

https://github.com/neroniaky/angular-token/wiki/session-management#updatepassword

But there is no "method below"

[2018-09-02 23:33] acegilz commented on #469
Ok, I understand I need to send a "custom request" that includes the headers because contrary to regular update where user is logged in, this is a special case.

What I cannot understand is how do I get anything extra the uid (email) and the token (that comes on the url as param) to identify the user.

The documentation tells I need  client_id, expiry, token and uid but Ill appreciate more info ab

[2018-09-03 00:45] acegilz commented on #205
will try your approach !
https://github.com/neroniaky/angular-token/issues/469

[2018-09-03 09:49] arjenbrandenburgh commented on #467
@misham The `apiBase` is indeed for the auth paths, but also as a security measure. The token headers are only added to calls going to the `apiBase` server.

[2018-09-04 00:30] acegilz commented on #205
@colmben Can you please explain me how do you "intercept" on the frontend the client_id, expiry, token and uid??

This is the big and only mystery for me because I can only intercept the "token param" that is sent from there, nothing else

[2018-09-09 08:55] xthilakx opened #470 "Build fails when used in Angular Universal applications"
https://github.com/neroniaky/angular-token/blob/044e5160ffddb0e4fb260ef89ffd1c344f423134/projects/angular-token/src/lib/angular-token.service.ts#L73

Reference to the window object makes it impossible to use angular-token on Angular Universal applications.

Would you accept the pull request, if I inject PLATFORM_ID to conditionally mock the reference to window.location while rendering on the serve

[2018-09-12 14:43] arjenbrandenburgh commented on #470
I would be fine with this. @neroniaky?

[2018-09-13 22:58] acegilz opened #471 "Send custom param (Login/ Register)"
## I'm submitting a...

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [ ] Performance issue
- [ ] Feature request
- [ ] Documentation issue or request
- [X] Other... Please describe:

## Current behavior
I would like to know what is the best approach to send a custom param on login/registration.

For this specific situation, I'm trying to s

[2018-09-13 23:03] Sikachyna opened #472 "angular-token.js 'inject' was not found in '@angular/core'"
## I'm submitting a...

- [x] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [ ] Performance issue
- [ ] Feature request
- [ ] Documentation issue or request
- [ ] Other... Please describe:

## Current behavior
WARNING in ./node_modules/angular-token/fesm5/angular-token.js
663:161-167 "export 'inject' was not found in '@angular/core'

WARNING in .

[2018-09-14 04:30] neroniaky commented on #470
@arjenbrandenburgh sure :)

[2018-09-14 11:12] arjenbrandenburgh commented on #470
@xthilakx, could you make a PR for this?

[2018-09-18 05:44] x-yuri opened #473 "Please add v0.2.0 tag to the repository"
Otherwise it's hard to learn what exactly switching to v0.2.0 means.

[2018-09-18 11:31] acegilz commented on #471
At this time I am using a temporary workaround, however, if one hits directly the api endpoint it bypasses this.. :

[code]

[2018-09-18 23:08] raysuelzer commented on #471
It looks like this isn't supported, as the sign in data is copied to another object.

https://github.com/neroniaky/angular-token/blob/master/projects/angular-token/src/lib/angular-token.service.ts#L173

[2018-09-18 23:37] acegilz commented on #471
I know it's not possible at the moment, I would need to know if it's on the pipeline / anybody developed already a way to do it.

Send custom parameters is absolutely necessary for any extra security integrations, like the recaptcha I mentioned before, OTP second authentication, etc...

[2018-09-21 16:18] quentinbt opened #475 "Not possible to dynamically set apiBase"
## I'm submitting a...

- [x] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [ ] Performance issue
- [ ] Feature request
- [ ] Documentation issue or request
- [ ] Other... Please describe:

## Current behavior

Its not possible to change the apiBase from AngularTokenService via the init method as before

## What is the motivation / use case for c

[2018-09-25 08:28] #470 closed

[2018-09-25 08:30] neroniaky commented on #473
@x-yuri could you please elaborate. Thanks!
v0.2.0 is an older version of this library, so you should switching to v6.x

[2018-09-25 08:36] neroniaky commented on #475
@quentinbt thank you for creating this issue. Adding an setter and  and possibly getter for AngularTokenOptions would be a good thing to have.

You willing to create an PR @quentinbt ?

[2018-09-25 08:54] neroniaky commented on #471
@acegilz thank you for this issue.

I think extending
`signIn(signInData: SignInData)`
to something like
`signIn(signInData: SignInData, additionalData?: [key: string]: number | string)`

and extending
`registerAccount(registerData: RegisterData)`
the same way to
`registerAccount(registerData: RegisterData, additionalData?: [key: string]: number | string)`
would be a good addition.

You willing to

[2018-09-25 23:04] acegilz commented on #471
https://github.com/neroniaky/angular-token/pull/476

[2018-09-25 23:55] #469 closed

[2018-09-26 09:35] x-yuri commented on #473
@neroniaky I was trying to see what this repository looked like at version 0.2.0. But there's no such tag in this repository. So, no easy way. I was particularly interested in a state that was published to npm. If you were to add missing tags, or at least add tags (that correspond to a state published to npm) in the future, that would be awesome.

[2018-09-26 11:01] arjenbrandenburgh commented on #473
https://github.com/neroniaky/angular-token/tree/v0.2.0

How about this branch?

[2018-09-26 21:29] x-yuri commented on #473
@arjenbrandenburgh Are you sure it's what one would get if he/she were to install `angular2-token@0.2.0`? What about other versions?

[code]

I'm just asking to make life easier for users. One might want to confirm if some bug was fixed in one particular version. Being able to do so without cloning the repository is a good thing to have, isn't it? There might be other use cases.

[2018-09-30 14:45] neroniaky commented on #473
Just published 6.0.3. Didn't create releases for the last versions before. Sorry, will get better in the future 😃 .

[2018-10-11 19:59] mquispe1185 opened #480 "TokenServiceInterceptor not working, localStorage is empty, so headers are not included in new requests"
## I'm submitting a...

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [ ] Performance issue
- [ ] Feature request
- [ ] Documentation issue or request
- [ x] Other... Please describe:
I am using a Rails 5 api with gem 'devise_token_auth', I can signIn from my angular 6 project, and receive the response ok, I can see the response in web cons

[2018-10-12 12:12] #480 closed

[2018-10-18 08:28] neroniaky commented on #473
Alright, closing this for now.

[2018-10-18 08:28] #473 closed

[2018-10-18 08:39] #456 closed

[2018-10-18 08:42] neroniaky commented on #445
Should be fixed with v6.0. Please reopen if problem persists.

[2018-10-18 08:42] #445 closed

[2018-10-18 08:46] neroniaky commented on #416
@dks17 Thanks, demo has been moved to stackblitz: https://stackblitz.com/github/neroniaky/angular-token

[2018-10-18 08:46] #416 closed

[2018-10-21 17:00] rmcsharry opened #481 "Reloading the app causes 401 Unauthorised on first api call after token is validated"
## I'm submitting a...

- [x ] Regression (a behavior that used to work and stopped working in a new release)
- [x ] Bug report

## Current behavior
If an existing and logged in user:
1. the user reloads the app using browser refresh,
2. then the token is validated correctly,
3. but the next call to the API fails as 401 Unauthorized.
4. all following calls succeed

## Expected behavior
First reque

[2018-10-21 17:14] rmcsharry commented on #481
One (awful) workaround I tried is that on the component that is reloaded I added a timer to delay calling
the service that gets the data for that component.

I tested this and it works, but obviously it is impractical to add this to 50+ components.

It seems the data request to the API is being intercepted to add the headers, but this is happening before the token is updated in localstorage.

Sinc

[2018-10-21 17:35] rmcsharry commented on #481
Possible solution:

I think that before line 20 of the interceptor we need to check if validate_token call has finished and only get token from storage after it has completed. So maybe everytime validate_token is called it can set a flag, and when it completes and AFTER it has updated localstorage, set the flag back again?

This basically means though that if the flag is true, the interceptor has

[2018-10-21 17:43] rmcsharry opened #482 "Not sure if this library will work with Rails 5.2?"
I just read this [SO question](http://1.yqwk.win/?questions/51304392/rails-actioncontroller-ignores-request-headers) and the answer from messanjah.

It seems in the future all headers will have to be of the format "HTTP_x_"

So I wonder if anyone who upgrades their API to Rails 5.2 might run into problems if they are still using this library?

If so perhaps the readme should be updated to indicate

[2018-10-21 21:16] rmcsharry commented on #481
It seems this is a common problem, some suggested [solutions are here](https://stackoverflow.com/questions/45202208/angular-4-interceptor-retry-requests-after-token-refresh).

[2018-10-23 07:38] neroniaky commented on #482
I have a project using Rails 5.2 and haven’t run into any issues yet. Not much we can do on the rails side of things, but if gets update we definitely have to do so too. Do you have a link for me?

[2018-10-27 15:53] rmcsharry commented on #482
@neroniaky Thanks for confirming it still works. I must have misunderstood that SO answer, so I checked the Rails 5.2 release notes and find no mention of this. So we are ok it seems to me. Closing.

[2018-10-27 15:53] #482 closed

[2018-10-31 21:53] rmcsharry commented on #481
The retry only works sometimes 👎

It causes some requests to get cancelled, which then causes token invalidation problem which again results in a 401 unauthorized. So this issue is basically related to [this one.](https://github.com/lynndylanhurley/devise_token_auth/issues/51)

So now I'm not sure if the fix should be done in this library or the devise_token_auth gem :(

[2018-11-05 15:29] musienkoyuriy commented on #475
As a temporary solution we use this in app.component constructor:

 `(this.authToken as any).options.apiBase = environment.api_endpoint;`

[2018-11-11 11:55] chatnuere opened #483 "Feature request : Cookie storage option for auth data"
Hello, and thanks for this awesome plugin that saved me a lot of time !

## I'm submitting a...

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [ ] Performance issue
- [X] Feature request
- [ ] Documentation issue or request
- [ ] Other... Please describe:

## Current behavior

Local storage is the only way to store auth data

## Expected be

[2018-11-21 09:55] wencakisa opened #484 "Local storage is not cleared after signOut()"
## Local storage is not cleared after signOut()

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [x] Bug report
- [ ] Performance issue
- [ ] Feature request
- [ ] Documentation issue or request
- [ ] Other... Please describe:

## Current behavior
`signOut()` is not executed fully no matter I am subscribing to the observable it returns.

[code]

## Expected b

[2018-11-26 21:18] #484 closed

[2019-01-09 22:35] dkrusenstrahle opened #485 "Cannot find module 'angular-token'"
## I'm submitting a...

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [x ] Bug report
- [ ] Performance issue
- [ ] Feature request
- [ ] Documentation issue or request
- [ ] Other... Please describe:

## Current behavior
I have installed the module with npm install angular-token but when I try to import the module then I got: src/app/app.module.ts(21,36):

[2019-01-16 18:40] voidjj commented on #485
I have the same problem

[2019-01-18 22:23] Mat1s commented on #485
I also have the same problem

[2019-01-19 07:13] neroniaky commented on #485
Thanks for reporting. Gonna take a look into it. Does downgrading to 7.0.0-rc.0 help?

[2019-01-19 08:38] neroniaky commented on #485
Just published 7.0.1, please give it a try. Thank you!

[2019-01-23 23:55] raysuelzer commented on #275
I am running into an issue where my app is deployed on a variety of subdomains, the goal was to have the redirect_url be determined through the window.location, however, this does not work when using AOT.  Any idea how to set the resetPasswordCallback dynamically based upon the current url?

[2019-01-24 20:39] ctilley83 commented on #401
Unless I'm following the wrong process to access currentUserData, this is still broken.

[2019-01-27 23:49] #485 closed

[2019-01-30 06:17] neroniaky commented on #299
Should be fixed with the newest ng-packgr. Please reopen if problem persists. Thank you.

[2019-01-30 06:17] #299 closed

[2019-01-30 06:38] neroniaky commented on #160
Angular Token 6+ supports interceptors. Please reopen when there are any questions left.

[2019-01-30 06:38] #160 closed

[2019-01-30 06:39] neroniaky commented on #71
Should be fixed in the latest build. Please reopen if problem still persists.

[2019-01-30 06:39] #71 closed

[2019-01-30 23:34] aehven opened #486 "Angular 6 AOT"
## I'm submitting a...

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [ x] Bug report
- [ ] Performance issue
- [ x] Feature request
- [ ] Documentation issue or request
- [ ] Other... Please describe:

## Current behavior
Not sure if this is a bug or a feature request, but this library doesn't seem to work with AOT compiler in Angular 6.  What I'm seeing i

[2019-01-31 12:41] penMANship opened #487 "Migration Angular 7"
## I'm submitting a...

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [ ] Performance issue
- [ ] Feature request
- [ ] Documentation issue or request
- [ x] Other... Please describe: My environment is Rails 5 running on localhost:3000 and Angular(5 or 7) running on localhost:4200.  The client requests are now all xmlhttp requests not http

[2019-02-01 05:30] neroniaky commented on #475
Setter and getter added in PR #478

[2019-02-01 05:30] #475 closed

[2019-02-01 05:31] neroniaky commented on #472
Should be fixed in newest version

[2019-02-01 05:31] #472 closed

[2019-02-01 05:33] neroniaky commented on #401
We are working on making the UserData accessible via BehaviorSubject, which means you can just subscribe it.

[2019-02-01 19:49] hrangel commented on #340
Just made a PR with that: https://github.com/neroniaky/angular-token/pull/488

[2019-02-01 19:51] hrangel commented on #343
Just made a PR with the updated version of angular-token: #488

[2019-02-01 19:51] hrangel commented on #129
Just made a PR with the updated version of angular-token: #488

[2019-02-03 04:48] neroniaky commented on #487
Hi @penMANship, thank you for this issue. I think I was able to reproduce the error you are describing.
HttpClient is sending XMLHttpRequest's which it should and it is totally fine. The CORS error I got was because of an invalid auth header.

Please try the following:
- Check your browsers developer tools and look what the header `access-token` transmits. I my case it was `fake-access-token`.
- R

[2019-02-12 13:58] neroniaky commented on #156
7.1.0-rc.0 exposes the UserData as BehaviorSubject. This allows the suer email to be updated. Please reopen if you are still having this problem.

[2019-02-12 13:58] #156 closed

[2019-02-12 14:00] neroniaky commented on #59
7.1.0-rc.0 exposes the UserData as BehaviorSubject. This means you can now subscribe and change the UserData as desired. Please reopen if problem still exists.

[2019-02-12 14:00] #59 closed

[2019-02-12 14:02] neroniaky commented on #134
7.1.0-rc.0 exposes userData as BehaviorSubject. So you can now subscribe to userData, which should solve your problem. Please reopen if it doesn't.

[2019-02-12 14:02] #134 closed

[2019-02-12 14:05] neroniaky commented on #288
Please migrate to version 7.x. This problem should be fixed with the use of interceptors. Please reopen if it isn't. Thanks!

[2019-02-12 14:05] #288 closed

[2019-02-12 14:06] neroniaky commented on #401
UserData are now accessible as BehaviorSubject in version 7.1.0-rc.0. Please reopen / comment if this does not fix the problem. Thanks!

[2019-02-12 14:06] #401 closed

[2019-02-12 14:08] neroniaky commented on #483
Thanks for your feedback. I gonna take a look at it.

[2019-02-12 14:08] neroniaky commented on #419
Closing because of inactivity.

[2019-02-12 14:08] #419 closed

[2019-02-14 18:46] rrjohnson85 opened #491 "signInStoredUrlStorageKey does not get set when stale values exist in local storage"
## I'm submitting a...

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [x] Bug report
- [ ] Performance issue
- [ ] Feature request
- [ ] Documentation issue or request
- [ ] Other... Please describe:

## Current behavior
When `signInStoredUrlStorageKey` is set and stale `authData` exists in local storage, the URL to redirect to does not get set in local sto

[2019-02-14 18:47] rrjohnson85 commented on #491
I'd be more than happy to take some time and correct the behavior if PR's are welcome.  Just let me know.

[2019-02-20 08:43] neroniaky commented on #491
Hi, thanks for opening this issue. PRs are always welcome :).

[2019-02-26 08:20] hossameldeen commented on #483
First, I second @chatnuere's thanks :-)

Second, my take on cookies vs localstorage:

- The [linked article](https://www.rdegges.com/2018/please-stop-using-local-storage/) has a [mirror on dev.to](https://dev.to/rdegges/please-stop-using-local-storage-1i04) with comments offering a counter view. Didn't read them all, but my conclusions from these:

  - Local storage is protected by same-domain pol

[2019-02-26 09:11] hossameldeen opened #494 "`currentUserData` is not updated after `registerAccount()`"
## I'm submitting a...

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [x] Bug report
- [ ] Performance issue
- [ ] Feature request
- [ ] Documentation issue or request
- [ ] Other... Please describe:

## Current behavior
After a successful `registerAccount()` happens, `currentUserData` remains undefined.

## Expected behavior
For `currentUserData` to have t

[2019-02-26 17:39] Anyoks commented on #57
I am using `angular-token` in the front end with:

[code]
I have a `rails 5` back-end configures with `cors.`
I get a Still get this error when I attempt logging in:
`Object { body: {…}, url: "http://localhost:3000/auth/sign_in", headers: {…}, status: 404, statusText: "Not Found" }`

Here's the sign in code:

[code]
I have tried, changing proxy settings in `proxy.conf.json` but nothing.

Any assis

[2019-02-27 08:30] pradosh987 opened #495 "Omniauth from electron app"
## I'm submitting a...

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [ ] Performance issue
- [ ] Feature request
- [x] Documentation issue or request
- [ ] Other... Please describe:

## Current behavior

I am little confused how to use oauth signin from electron app. I am currently using
[code]
 which open up electron window. I am sure its

[2019-03-03 16:55] neroniaky commented on #494
Could you give `7.1.0-rc.0` a try? There we've completely rewritten the way currentUserData is updated.  Thanks!

[2019-03-03 16:57] neroniaky commented on #495
I haven't looked at electron apps yet. My guess is, that this is a feature (customize the OAuth window) Angular-Token doesn't support yet.

[2019-03-03 16:58] neroniaky commented on #487
Closed because of inactivity. Please reopen if necessary.

[2019-03-03 16:58] #487 closed

[2019-03-04 08:07] hossameldeen commented on #494
Great to hear! Thank _you_ for your work!

Tried it out but still the same problem. The smallest reproduction would probably be something like that:

[code]

You'll find that `currentAuthData` is logged properly but `currentUserData` is `null`.

If you have time to try it out, does the issue reproduce at your side?

[2019-03-22 20:41] ArmandoPerdomo opened #500 "Create a observable of userSignedIn() method"
## I'm submitting a...

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [ ] Performance issue
- [x] Feature request
- [ ] Documentation issue or request
- [ ] Other... Please describe:

## Current behavior
Actually userSignedIn() method can be used when is called only

## Expected behavior
userSignedIn can be a observable, this ensures when t

[2019-03-31 16:36] neroniaky commented on #500
Hey @ArmandoPerdomo you could give the RC of 7.1.0 a try, which has this build in.

[2019-04-04 09:09] TimSwerts commented on #134
I want to reopen this issue. I have kind of the **_same problem as in the issue #253._** I tried to reload the `.currentUserData` twice and it's not working for me. I think it has something to do with the way I am confronted with this problem.

I am making a AuthGuard or let's say I made it and it works all the time when I am logged in an when I am browsing trough my application. Now I was testing

[2019-04-04 09:20] TimSwerts opened #501 "Guarding routes with currentUserData Not working after Refresh or Force link."
## I'm submitting a...

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [x ] Bug report
- [ ] Performance issue
- [x ] Feature request
- [x ] Documentation issue or request
- [x ] Other... Please describe:

## Current behavior
I want to reopen an issue. I have kind of the same problem as in the issue #253. I tried to reload the .currentUserData twice and it's

[2019-04-12 16:28] #495 closed

[2019-04-26 04:34] paulholden2 opened #502 "`signOutFailedValidate` option not working"
## I'm submitting a...

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [x] Bug report
- [ ] Performance issue
- [ ] Feature request
- [ ] Documentation issue or request
- [ ] Other... Please describe:

## Current behavior

When setting `signOutFailedValidate`, the Observable returned from `signOut()` is never subscribed and the user is not properly signed ou

[2019-05-02 13:50] vishalsingh123 opened #503 "How can we add new header key value in http request"
## I'm submitting a...

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [ ] Performance issue
- [ ] Feature request
- [ ] Documentation issue or request
- [ ] Other... Please describe:

## Current behavior

## Expected behavior

## What is the motivation / use case for changing the behavior?

## Environment

Angular-Token version: X.Y.Z
Angul

[2019-05-10 21:15] raysuelzer opened #504 "HttpInterceptor Tokens Leak on CORS requests and break CORS."
## I'm submitting a...

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [ X ] Bug report
- [ ] Performance issue
- [ ] Feature request
- [ ] Documentation issue or request
- [ ] Other... Please describe:

## Current behavior

AngularTokenInterceptor sends headers to outside domain (CORS) when apibase is null or blank. This breaks CORS requests.

https://githu

[2019-05-10 21:26] raysuelzer commented on #504
Not sure the best way to fix this, but the default configuration is insecure and breaks CORS requests where servers do not accept the headers which are being added to the request.

In my case, I cannot change the API base to a specific URL because we are deploying the same code across different subdomains.  Also, setting the API base at runtime has implications for AOT compilation.  I think the de

[2019-05-17 14:17] rrjohnson85 commented on #491
@neroniaky finally added a PR, but need to finalize tests.

[2019-06-02 04:04] nzacca opened #506 "Error in angular-token.model.d.ts"
## I'm submitting a...
- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [x] Bug report
- [ ] Performance issue
- [ ] Feature request
- [ ] Documentation issue or request
- [ ] Other... Please describe:

## Current behavior
When building with `strictNullChecks=true`, the following error is raised:

[code]

## Expected behavior
No error.

## What is the motivati

[2019-06-21 09:35] rikkipitt commented on #501
@TimSwerts did you find a solution to this? I'm experiencing the same. Even if I call validateToken, the currentUserData is still undefined...

[2019-07-11 21:27] raysuelzer commented on #501
I think I had a similar problem.   I did two things, not sure which solved it.

1)  I put an ngIf on the root component when a user is logged in to wait for `currentUserData` to be available.

2)  I have a much more complicated AuthGuard that does some throttling and returns Observable<boolean> instead of boolean.   currentUserData can be undefined in the case you described.
Note, it is much more

[2019-07-28 16:53] ArmandoPerdomo commented on #500
I tried, but you have added this feature yet?

[2019-08-09 11:24] 2624789 commented on #231
What shoul I do if I'm using `tokenService.currentUserData.role`?

[2019-09-13 17:35] colmben opened #509 "Trying to contribute, how do you build a linkable lib?"
## I'm submitting a...

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [ ] Performance issue
- [ ] Feature request
- [ ] Documentation issue or request
- [x] Other... Please describe:

## Current behavior
I am trying to test a small change that will enable the forgotten password flow to work correctly. To do that I am trying to link to a for

[2019-09-14 11:40] venomoustoad commented on #205
I think I found a reasonably elegant solution to work with rails, working on some of the code in this thread.Effectively, this works around the issue that you cannot use the 'update password' method in angular-token library since there is no token set when you are not logged in and a token is required by devise_token_auth to access the reset password link . What I have done is effectively created

[2019-09-14 11:42] arjenbrandenburgh commented on #205
I like this.
Maybe these snippets should be added to the wiki

[2019-09-14 12:00] colmben commented on #205
I'm in the process of looking at this very issue. I don't think it needs that magic on the server side. The current process effectively logs in the user when they click on the email link (you can test this by pasting in a protected URL at that point). The password reset page response from the server after clicking the email link includes a new valid access code. The problem is that the actual call

[2019-09-15 19:05] colmben commented on #509
I ended up using a convoluted process of making a change, npm run build:lib, "git subtree split" out the dist/angular-token/ folder, pushing that to the master of a my-angular-token repo and linking to that. So (as far as I can remember this is how I did it, you may need to play around with the general idea if this doesn't work straight off...)

git clone the repo locally

Change the remote to an

[2019-09-15 19:41] colmben commented on #205
Sooo, I have an answer, at least for the standard Angular default way of doing local client routing. First off - the library as it stands does actually work for Forgot Password flow! There are a couple of things to consider:

Angular can do local URL routing 2 ways - either the old way it did by putting a hash symbol in the URL that indicated anything after that was for Angular or the new (now def

[2019-09-21 01:50] colmben commented on #205
Just a quick update, I figured out why HashLocationStrategy apps wouldn't work, the Devise Token Auth lib made a change a few years ago to put the query params before the hash fragment instead of afterwards. This causes current version of Angular to eat those query params so they don't show in the final redirected url nor are they catchable via activatedRoute.queryParams. I raised a [PR](https://g

[2019-11-22 16:34] avdept opened #513 "Oauth callback window won't close after successful login"
## I'm submitting a...

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [x] Bug report
- [ ] Performance issue
- [ ] Feature request
- [ ] Documentation issue or request
- [ ] Other... Please describe:

## Current behavior
After I've logged in via fb, window with callback window won't close itself, so no control passed over to initiated code. I'm using rails

[2019-11-29 11:26] avdept commented on #513
So, turned out my backend didn't had anything to return back to app after oauth flow was initiated. So, to have data passed back to app after oauth flow, I've added following script to my response from backend

[code]

[2019-11-29 11:29] #513 closed

[2020-02-04 15:20] timvandijck opened #516 "Auth data not saved when using oAuth"
## I'm submitting a...
- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [x] Bug report
- [ ] Performance issue
- [ ] Feature request
- [ ] Documentation issue or request
- [ ] Other... Please describe:

## Current behavior
When using oAuth the authentication data (tokens, expiry, ...) is not saved in local storage. So when you refresh your page a user is logge

[2020-02-04 15:42] #516 closed

[2020-02-04 15:43] timvandijck commented on #516
Closed because duplicate, sorry!

[2020-02-25 12:33] alesrosina commented on #92
Hey @neroniaky is this still true?

I'm trying to do Google oauth in angular app and it seems like this is still not resolved.

Maybe you just remove the whole oauth options from current version, since it is pretty much not usable (as stated above).

And add into docs, that you recomend using other libraries for this task.

Or am I missing sth?

[2020-03-13 14:07] andrewariley87 opened #517 "Compatibility With Angular 9"
## I'm submitting a...

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [ ] Performance issue
- [ ] Feature request
- [ ] Documentation issue or request
- [X] Other... Please describe: Is this compatible with Angular 9?

## Current behavior
I tried to update my app to Angular 9.0.6 by running `ng update @angular/cli @angular/core`
and got the

[2020-03-18 03:09] neroniaky commented on #517
Hey @andrewariley87 I haven't looked in much detail, but you can give it a try in Angular 9. The warning you're see is due to the version range I set, because I didn't test it with Angular 9 yet (Does not have any implication on functionality)

[2020-03-19 23:03] mattarau commented on #517
I can confirm that it is **NOT** compatible with Angular 9 a new requirement for the [ModuleWithProviders](https://angular.io/guide/deprecations#modulewithproviders-type-without-a-generic).

When you call the `forRoot()` method it will throw the following error.

[code]

The fix is as simple as adding a type to `ModuleWithProviders`:
[code]

It is simple, but I need to leave now, so if not yet don

[2020-03-20 13:55] andrewariley87 commented on #517
@neroniaky and @mattarau Thank you both for looking into this and the quick response!

[2020-03-20 16:48] mattarau commented on #517
Hey @andrewariley87 and @neroniaky, I've tested it today and found out that the whole main project would have to be updated to v9 in order to work, so I did it. Above you can see the PR with the Update.

[2020-04-28 21:42] neroniaky commented on #517
I published 9.0.0-beta.0 Please give it a try.

[2020-05-07 21:08] ManCodeB commented on #517
any news on this? tried to move from Angular v8.2 to Angular v9 today but got errors that angular-token is not compatible and may break. Would be nice if you guys could publish the next stable version 9.0.0 soon.

[2020-05-10 17:19] neroniaky commented on #517
@ManCodeB Could you give 9.0.0-beta.0 a try and see if it works for you?

[2020-05-19 08:58] ManCodeB commented on #517
@neroniaky I am using Angular v9.1.4 with angular-token v7.0.1 right now, and it works like it used to with Angular v7.x

[2020-05-20 10:49] prdpspkt commented on #517
I'm using Angular9 and rails refused to create registration record. It show "email can't be blank", passowrd can't be blank. The registerAcccount should accept custom data provided. like this
[code]

[2020-05-20 11:41] prdpspkt opened #523 "Email and Password Can't be blank"
Not working with following configurations.

* **Version of this gem 1.1.3, Devise: 4.7.1, Angular-Token : 7.0.1*:

Steps to Reproduce:
[code]

[code]

Parameters Received by Rails server
[code]

Rails Console Error:
[code]

Server Response and Error in Browser Console:
[code]

Server Expects:
[code]

[2020-05-21 02:46] prdpspkt commented on #523
Some steps were missing in documentation of devise_token_auth gem.

[2020-05-21 02:46] #523 closed

[2020-05-25 22:11] mgraulich commented on #517
@neroniaky  9.0.0-beta.0 is working as expected in Angular 9.1.9.

[2020-05-26 06:06] prdpspkt commented on #517
@mgraulich Yes, it's working but the package has poor documentation. Some extra lines of configurations in devise-token-auth should be added.

[2020-07-08 13:11] stanciupaul commented on #517
Any update regarding a stable release for ng 9?

[2020-07-30 12:01] neroniaky commented on #517
@stanciupaul Could you give 9.0.0-beta.0 a try? Thanks!

[2020-08-02 17:54] ozmar-11 opened #530 "User is being signed out after page reload"
## I'm submitting a...

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [x] Bug report
- [ ] Performance issue
- [ ] Feature request
- [ ] Documentation issue or request
- [ ] Other... Please describe:

## Current behavior
When using OAuth in the same window the `authData` is not being saved in local storage, just in memory which leads the user to be signed o

[2020-12-09 22:05] #502 closed

[2021-01-05 06:41] SimonBrazell commented on #481
@rmcsharry did you ever find a solution to this? I believe I'm experiencing it now myself, might have to find another solution...

[2021-01-12 21:44] bw7432 opened #534 "additionalData not working"
I'm getting lint errors when I try to add additionalData to the sign in params.

This service is expecting one argument but fails when I try to pass in additionalData as stated in the docs.

`tokenService.signIn({})`

`Expected 1 arguments, but got 2.`

## I'm submitting a...

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [ ] Performance is

[2021-01-26 06:32] PascalTurbo opened #536 "signOut() not working on Chrome and Firefox"
## I'm submitting a...
- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [ X] Bug report
- [ ] Performance issue
- [ ] Feature request
- [ ] Documentation issue or request
- [ ] Other... Please describe:

## Current behavior
Working on an app I'm using Angular 10 (not supported, I know). While testing on Safari 14 everything works fine. SignOut leads to signed

[2021-01-26 07:53] PascalTurbo commented on #536
I've had a look at the code and found https://github.com/neroniaky/angular-token/blob/ff911a81080285e8b19939f56c7fb5d7f0ac46e7/projects/angular-token/src/lib/angular-token.service.ts#L363

signOut() returns an observable, that is never subscribed. The interesting thing is, that this seems to work on Safari and obviously on older versions of angular. Subscribing at this point shouldn't be a problem